$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/modal";
@import "~sass-rem/rem";
@import "~flickity";
@import "~fullpage.js/dist/fullpage.css";
@import "mixins/utility";
@import "mixins/stars";
@import "base/variables";
@import "base/fonts";
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/keyframes";
@import "components/buttons";
@import "components/modals";
@import "components/breadcrumbs";
@import "components/form";
@import "components/tabs";
@import "components/table";
@import "layout/header";
@import "layout/footer";
@import "pages/frontpage";
@import "pages/research-page";