@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(26px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes socialsFloat {
    0% {
        transform: translate(40px, -30px);
    }

    25% {
        transform: translate(0, -40px);
    }

    75% {
        transform: translate(40px, -75px);
    }

    100% {
        transform: translate(40px, -30px);
    }
}

@keyframes socialsFloatSecond {
    0% {
        transform: translate(-36px, -20px);
    }

    25% {
        transform: translate(0, 20px);
    }

    75% {
        transform: translate(36px, 0);
    }

    100% {
        transform: translate(-36px, -20px);
    }
}

@keyframes socialsFloatThird {
    0% {
        transform: translate(-10px, 36px);
    }

    25% {
        transform: translate(0, -20px);
    }

    75% {
        transform: translate(30px, 24px);
    }

    100% {
        transform: translate(-10px, 36px);
    }
}


@keyframes ballBounce {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: calc(100% - 220px);
        top: calc(100% - 220px);
    }

    50% {
        left: 0;
        top: calc(100% - 220px);
    }

    75% {
        left: calc(100% - 220px);
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes clouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200vw);
    }
}


@keyframes ball1 {
    0% {
        left: 20%;
        top: 0;
    }

    25% {
        left: 0%;
        top: 10%;
    }

    50% {
        left: 30%;
        top: 40%;
    }

    75% {
        left: 0%;
        top: 20%;
    }

    0% {
        left: 20%;
        top: 0;
    }
}

@keyframes ball2 {
    0% {
        right: 0;
        top: 20%;
    }

    25% {
        right: 20%;
        top: 0%;
    }

    50% {
        right: 30%;
        top: 10%;
    }

    75% {
        right: 10%;
        top: 10%;
    }

    0% {
        right: 0;
        top: 20%;
    }
}

@keyframes ball3 {
    0% {
        bottom: -10%;
        left: 40%;
    }

    25% {
        bottom: 20%;
        left: 20%;
    }

    50% {
        bottom: 10%;
        left: 70%;
    }

    75% {
        bottom: 30%;
        left: 40%;
    }

    0% {
        bottom: -10%;
        left: 40%;
    }
}