$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.frontpage {

    &__wrap {
        background-color: var(--bg-color);
    }

    &__advantage-block {
        position: relative;
        z-index: 100;

        &-circle {
            height: 740px;
            width: 740px;
            left: 52vw;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;
            border: 2px solid #fff;
            border-radius: 50%;
            position: fixed;
            opacity: 0;
            transition: 500ms opacity, 1s transform;
            pointer-events: none;

            @media (max-width: 1500px) {
                height: 650px;
                width: 650px;
                left: 56vw;
            }

            @include media-breakpoint-down(xl) {
                left: 46vw;
            }

            @include media-breakpoint-down(lg) {
                left: 35vw;
            }

            @include media-breakpoint-down(md) {
                width: 58px;
                height: 58px;
                left: 0;
                right: 0;
                bottom: unset;
                top: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &::after {
                content: '';
                background-color: #fff;
                border-radius: 50%;
                position: absolute;
                width: 65px;
                height: 65px;
                bottom: -32.5px;
                left: calc(50% - 32.5px);

                @include media-breakpoint-down(md) {
                    background-color: transparent;
                    background-image: url("data:image/svg+xml,%3Csvg width='63' height='48' viewBox='0 0 63 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.1919 47.2378C1.43909 42.4449 -0.00593806 37.012 0.00173942 31.4839C0.0094169 25.9559 1.46953 20.527 4.23564 15.7418C7.00176 10.9566 10.9766 6.98326 15.7616 4.22032C20.5466 1.45738 25.9735 0.00194952 31.4979 0V5.08986C26.8646 5.08863 22.3125 6.30712 18.2985 8.62299C14.2846 10.9389 10.9502 14.2706 8.62999 18.2838C6.30979 22.2969 5.08548 26.8502 5.07997 31.4866C5.07447 36.1229 6.28796 40.6791 8.59863 44.6978L4.1919 47.2378Z' fill='white'/%3E%3Cpath d='M58.8476 47.1693L54.4458 44.639C56.7439 40.6183 57.9457 36.0638 57.9306 31.432C57.9156 26.8001 56.6842 22.2535 54.36 18.2479C52.0357 14.2422 48.7002 10.9182 44.6876 8.60883C40.6751 6.29948 36.1265 5.08596 31.4976 5.08986V0C37.0158 0.00110988 42.4369 1.45241 47.2185 4.20867C52 6.96493 55.9743 10.9295 58.7436 15.7056C61.513 20.4816 62.9801 25.9018 62.9984 31.4235C63.0166 36.9453 61.5853 42.375 58.8476 47.1693Z' fill='white'/%3E%3C/svg%3E%0A");
                    height: 58px;
                    width: 0%;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    left: -5px;
                    top: -5px;
                    transition: 750ms;
                }
            }

            &--half-circle {
                @include media-breakpoint-down(md) {
                    &::after {
                        width: 50%;
                        transition: 750ms;
                    }
                }
            }

            &--full-circle {
                @include media-breakpoint-down(md) {
                    &::after {
                        width: 125%;
                        transition: 750ms;
                    }
                }
            }
        }

    }

    &__foot {
        background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e4569e, #e4569e);
        background-size: 400% 400%;
        background-position: 0% 50%;


        &--gradient {
            animation: gradient 15s ease infinite;
        }
    }


}

.hero {

    &__wrap {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
    }

    &__row {
        align-items: center;
    }

    &__stars {
        background: transparent;

        &::after {
            content: "";
            position: absolute;
            top: 2000px;
            background: transparent;
        }

        &--layer {
            &--1 {
                width: 1px;
                height: 1px;
                box-shadow: $shadows-small;
                animation: animStar 50s linear infinite;
                animation-fill-mode: forwards;

                &:after {
                    width: 1px;
                    height: 1px;
                    box-shadow: $shadows-small;
                }
            }

            &--2 {
                width: 2px;
                height: 2px;
                box-shadow: $shadows-medium;
                animation: animStar 100s linear infinite;
                animation-fill-mode: forwards;

                &:after {
                    width: 2px;
                    height: 2px;
                    box-shadow: $shadows-medium;
                }
            }

            &--3 {
                width: 3px;
                height: 3px;
                box-shadow: $shadows-big;
                animation: animStar 150s linear infinite;
                animation-fill-mode: forwards;

                &:after {
                    width: 3px;
                    height: 3px;
                    box-shadow: $shadows-big;
                }
            }
        }
    }

    &__content {
        max-width: 400px;
        margin-left: auto;

        @include media-breakpoint-down(md) {
            margin: auto;
        }
    }

    &__img {
        width: 100%;
        max-width: 620px;
        position: relative;
        z-index: 100;

        @include media-breakpoint-down(xl) {
            max-width: 440px;
        }

        @include media-breakpoint-down(md) {
            max-width: 310px;
            margin: auto;
            margin-bottom: rem(70px);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__heading {
        font-size: rem(22px);
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: rem(135px);
        line-height: 128%;

        @include media-breakpoint-down(xl) {
            margin-bottom: rem(80px);
        }

        @include media-breakpoint-down(md) {
            font-size: rem(16px);
            max-width: 310px;
            margin: auto;
            margin-bottom: rem(42px);
        }
    }

    &__btn {
        @extend %btn-outline;
        margin-left: auto;
        display: flex;
        width: 100%;
        max-width: 200px;

        @include media-breakpoint-down(md) {
            max-width: 160px;
            margin: auto;
        }
    }

    &__helper-arrow {
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 80px;
        z-index: 10;
        margin: auto;
        animation: float 3s ease-in-out infinite;
        animation-fill-mode: forwards;

        @include media-breakpoint-down(md) {
            bottom: 50px;
        }
    }
}

.use-cases {

    &__wrap {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__heading {
        font-size: rem(42px);
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: rem(86px);
        font-weight: 400;

        @include media-breakpoint-down(lg) {
            font-size: rem(36px);
        }

        @include media-breakpoint-down(md) {
            font-size: rem(22px);
            margin-bottom: rem(20px);

        }
    }

    &__carousel {
        position: relative;

        &-control {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            z-index: 100;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            @include media-breakpoint-down(md) {
                width: 30px;
                height: 30px;
            }

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }

        .flickity-page-dots {
            bottom: -75px;

            @include media-breakpoint-down(md) {
                bottom: -30px;
            }

            .dot {
                border: 1px solid #FFFFFF;
                background: transparent;
                opacity: 1;
                width: 24px;
                height: 24px;

                &::before {
                    content: none;
                }

                @include media-breakpoint-down(md) {
                    width: 14px;
                    height: 14px;
                }

                &.is-selected {
                    background-color: #fff;
                }
            }
        }
    }

    &__clouds-wrap {
        position: absolute;
        height: 50vh;
        width: 100vw;
        top: 30vh;
    }


    &__case-item {
        width: 100%;
        position: relative;
        z-index: 10;
    }
}

.case-item {

    &__wrap {
        text-align: center;
        max-width: 655px;
        width: 100%;
        margin: rem(80px auto);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(lg) {
            max-width: 475px;
        }

        @include media-breakpoint-down(md) {
            max-width: 290px;
        }
    }

    &__img {
        display: block;
        margin: auto;
        animation: float 4s ease-in-out infinite;
        animation-fill-mode: forwards;
        position: absolute;
        z-index: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__title {
        font-weight: 400;
        font-size: rem(36px);
        line-height: 165%;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        max-width: 380px;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        @include media-breakpoint-down(lg) {
            max-width: 340px;
            height: 200px;
            font-size: rem(28px);
        }

        @include media-breakpoint-down(md) {
            max-width: 290px;
            height: 120px;
            font-size: rem(20px);
        }


        &::before {
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 270px;
            border: 1px solid #FFFFFF;
            position: absolute;
            border-radius: 50%;

            @include media-breakpoint-down(lg) {
                height: 200px;
            }

            @include media-breakpoint-down(md) {
                height: 120px;
            }
        }
    }
}

.slogan-ticker {

    &__wrap {
        position: relative;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }
    }

    &__ticker {
        margin-bottom: rem(32px);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(18px);
        }

    }

    &__ticker-item {
        margin-left: rem(24px);

        img {
            height: 70px;

            @include media-breakpoint-down(md) {
                height: 52px;
            }
        }
    }

    &__ball {
        position: absolute;
        left: 0;
        top: 0;
        margin: auto;
        width: 220px;
        height: 220px;
        animation: ballBounce 30s linear infinite;
        animation-fill-mode: forwards;

        @include media-breakpoint-down(md) {
            width: 160px;
            height: 160px;
            animation: ballBounce 15s linear infinite;
        }

        &-img {
            position: relative;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-light {
            width: 420px;
            height: 420px;
            position: absolute;

            &--scarlet {
                left: -100px;
                top: -220px;
                background: radial-gradient(50% 50% at 50% 50%, rgba(203, 19, 106, 0.7) 0%, rgba(204, 32, 88, 0.4) 41%, rgba(206, 49, 63, 0) 100%);
            }

            &--indigo {
                left: -250px;
                top: 20px;
                background: radial-gradient(50% 50% at 50% 50%, rgba(140, 16, 255, 0.8) 0%, rgba(139, 37, 226, 0.6) 23%, rgba(136, 85, 162, 0.17) 76%, rgba(135, 104, 137, 0) 100%);
            }

            &--coral {
                right: -160px;
                top: 30px;
                background: radial-gradient(50% 50% at 50% 50%, rgba(0, 135, 212, 0.8) 0%, rgba(22, 137, 194, 0.52) 32%, rgba(53, 141, 170, 0.15) 79%, rgba(65, 142, 161, 0) 100%);
            }
        }
    }
}

.advantage-block {

    &__wrap {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    &__video {
        height: 740px;
        position: absolute;
        left: -200px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: 700ms;

        @include media-breakpoint-down(xl) {
            left: -400px;
        }

        @include media-breakpoint-down(lg) {
            left: -600px;
        }

        @include media-breakpoint-down(md) {
            left: -5%;
            max-width: 110%;
            top: -100px;
        }

        @media (max-width: 400px) {
            left: 10%;
            max-width: 80%;
            top: -140px;
        }

        &--hidden {
            opacity: 0;
            transition: 300ms;
        }
    }

    &__info {
        position: relative;
        margin-left: auto;
        width: 100%;
        max-width: 360px;
        padding-right: 0;
        z-index: 10;
        transition: 700ms;

        @include media-breakpoint-down(md) {
            max-width: 330px;
            margin: auto;
        }

        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &--hidden {
            opacity: 0;
            transition: 300ms;
        }
    }

    &__text {
        height: 180px;

        @media (max-width: 400px) {
            margin-bottom: 60px;
        }

        img {
            max-width: 100%;
        }
    }

    &__heading {
        font-size: rem(28px);
        font-weight: 400;
        color: #fff;
        margin-bottom: rem(32px);
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            font-size: rem(20px);
            margin-bottom: 41vh;
            margin-top: rem(50px);
            text-align: center;
        }

        @media (max-width: 400px) {
            position: absolute;
            top: 11vh;
            margin: 0;
            
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        margin-bottom: rem(36px);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(30px);
        }

        @media (max-width: 400px) {
            margin-top: auto;
        }
    }

    &__btn {
        @extend %btn-outline;
        margin-right: rem(20px);
        font-size: rem(14px);

        @include media-breakpoint-down(md) {
            margin-right: rem(15px);
        }
    }
}

.shops-list {
    &__wrap {
        padding: rem(170px 0);

        @include media-breakpoint-down(md) {
            padding: rem(100px 0);
        }
    }

    &__img {
        width: 100%;
        max-width: 620px;

        @include media-breakpoint-down(md) {
            max-width: 300px;
            margin: auto;
            margin-bottom: rem(50px);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__row {
        @include media-breakpoint-down(md) {
            flex-flow: wrap-reverse;
        }
    }

    &__heading {
        font-size: rem(22px);
        color: #fff;
        font-weight: 700;
        margin-bottom: rem(80px);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__subheading {
        font-size: rem(18px);
        color: #fff;
        margin-bottom: rem(42px);
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            margin-bottom: rem(36px);
            text-align: center;
        }
    }

    &__list {
        @include unlist;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include media-breakpoint-down(md) {
            justify-content: center;
        }
    }

    &__item {
        margin-right: rem(26px);

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: rem(18px);
        display: block;
        text-align: center;

        &-img {
            display: block;
            width: 72px;
            height: 72px;
            margin: auto;
            margin-bottom: rem(12px);
            border-radius: 15px;
            box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.7);

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: cover;
            }
        }

        &:hover {
            color: #fff;

        }
    }
}

.faq {

    &__heading {
        font-size: rem(44px);
        color: #fff;
        margin-bottom: rem(64px);

        @include media-breakpoint-down(md) {
            margin-bottom: rem(32px);
        }
    }

    &__list {
        @include unlist;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(22px 115px);

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }
    }


}

.faq-item {
    &__toggler {
        font-size: rem(22px);
        color: #fff;
        padding: rem(22px 8px);
        border-bottom: 1px solid #FFFFFF;
        display: flex;
        width: 100%;
        position: relative;

        &::before {
            content: '';
            width: 2px;
            height: 20px;
            background-color: #fff;
            position: absolute;
            right: 9px;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: 350ms;
        }

        &::after {
            content: '';
            width: 20px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 1px;
            bottom: 0;
            margin: auto;
            transition: 350ms;
        }

        &--expanded {
            &::before {
                opacity: 0;
                transition: 350ms;
            }
        }
    }

    &__content {
        color: #fff;
        padding: rem(22px 8px);
        display: none;
    }
}