.research-page {

    &__wrap {
        position: relative;
    }

    &__content {
        padding-top: rem(175px);
        position: relative;

        @include media-breakpoint-down(md) {
            padding-top: rem(140px);
            width: 72%;
            margin: auto;
        }
    }

    &__helper {
        position: absolute;
        right: 0;
        top: 200px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__heading {
        margin-bottom: rem(100px);
        max-width: 670px;

        @include media-breakpoint-down(md) {
            margin-bottom: rem(60px);
        }
    }

    &__type {
        margin-bottom: rem(40px);
    }

    &__subheading {
        font-size: rem(28px);
        margin-bottom: rem(50px);
        position: relative;

        @include media-breakpoint-down(md) {
            font-size: rem(20px);
            margin-bottom: rem(36px);
            display: flex;
            align-items: center;
        }

        svg, img {
            position: absolute;
            display: block;
            left: -46px;
            top: 8px;
            height: 18px;
            width: auto;

            @include media-breakpoint-down(md) {
                position: static;
                margin-right: rem(24px);
            }

        }
    }

    &__list {
        @include unlist;
    }

    &__research-item {
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: rem(28px);
        }
    }
}

.research-item {
    &__toggler {
        width: 36px;
        height: 36px;
        position: absolute;
        border-radius: 50%;
        border: 1px solid transparent;
        left: -60px;
        top: -8px;
        z-index: 10;
        transition: 350ms;

        @include media-breakpoint-down(md) {
            left: -16px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 1px;
            background-color: $dark;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: 350ms;
        }

        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 16px;
            background-color: $dark;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transition: 350ms;
        }
    }

    &__heading {
        font-size: rem(14px);
        cursor: pointer;

        @include media-breakpoint-down(md) {
            padding-left: rem(36px);
        }
    }

    &__content {
        display: none;
        grid-template-columns: 64% auto;
    }

    &__info {
        padding-right: rem(61px);

        @include media-breakpoint-down(lg) {
            padding-right: rem(30px);
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }

    &__sources {
        padding-left: rem(76px);
        border-left: 1px solid $dark;
        font-size: rem(14px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        p {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(lg) {
            padding-left: rem(30px);
        }

        @include media-breakpoint-down(md) {
            border: none;
            padding-left: 0;
        }

        &::before {
            @include media-breakpoint-down(md) {
                content: attr(data-title);
                font-weight: 700;
                font-size: rem(14px);
                margin-bottom: rem(16px);
                display: block;
            }
        }
    }

    &--active {

        .research-item__toggler {
            border-color: $dark;
            transition: 350ms;
            &::after {
                opacity: 0;
                transition: 350ms;
            }
        }

        .research-item__heading {
            display: none;

            @include media-breakpoint-down(md) {
                display: flex;
                font-weight: 700;
                margin-bottom: rem(32px);
            }
        }

        .research-item__content {
            display: grid;

            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}