.footer {
    padding-top: rem(140px);
    padding-bottom: rem(20px);
    color: #fff;

    @include media-breakpoint-down(lg) {
        padding-top: rem(100px);
        padding-bottom: rem(60px);
    }

    @include media-breakpoint-down(md) {
        padding-top: rem(0);
        padding-bottom: rem(36px);
       
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: rem(46px);
    }

    &--gradient {
        background: linear-gradient(-45deg, #23d5ab, #23a6d5, #e4569e, #e4569e);
        background-size: 400% 400%;
        background-position: 0% 50%;
        animation: gradient 15s ease infinite;
        padding-top: 100vh;
        padding-bottom: rem(40px);
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            padding-top: 50vh;
        }


        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 60%);

        }
    }

    &__slogan-ticker {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__row {
        @include media-breakpoint-down(md) {
            flex-flow: wrap-reverse;
        }
    }

    &__content {
        margin-top: rem(76px);
    }

    &__notice {
        font-size: rem(14px);
        margin-bottom: rem(36px);
    }

}


.footer-contacts {
    &__list {
        @include unlist;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin-right: rem(32px);
        margin-bottom: rem(18px);
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: rem(20px);

        &:hover {
            color: #fff;
        }
    }
}



.footer-links {
    &__list {
        @include unlist;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin-right: rem(32px);
        margin-bottom: rem(18px);
    }

    &__link {
        color: #fff;
        text-decoration: none;
        font-size: rem(14px);
        border-bottom: 1px solid #fff;
        padding-bottom: rem(6px);
        display: flex;

        &:hover {
            color: #fff;
        }
    }
}

.footer-socials {
    &__list {
        @include unlist;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media-breakpoint-down(lg) {
            margin-top: rem(70px);
        }

        @include media-breakpoint-down(md) {
            margin-bottom: rem(70px);
        }

        @include media-breakpoint-down(sm) {
            margin: rem(40px 0);
        }
    }

    &__item {
        margin-left: rem(36px);

        &:nth-of-type(1) {
            animation: socialsFloat 7s linear infinite;
        }

        &:nth-of-type(2) {
            animation: socialsFloatSecond 7s linear infinite;
        }

        &:nth-of-type(3) {
            animation: socialsFloatThird 7s linear infinite;
        }

        @include media-breakpoint-down(md) {
            margin-bottom: rem(36px);
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;
        width: 210px;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;

        img,
        svg {
            max-width: 60%;
            max-height: 60%;
        }

        @include media-breakpoint-down(xl) {
            width: 144px;
            height: 144px;
        }
    }
}