.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: rem(32px 0);

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__toggler {
        span {
            width: 40px;
            height: 2px;
            background:#fff;
            display: block;
            margin-bottom: rem(12px);
        }
    }

}
