<li class="research-page__research-item research-item">
    <button class="research-item__toggler"></button>
    <div class="research-item__heading"><%= title %></div>
    <div class="research-item__content">
        <div class="research-item__info">
            <%= content %>
        </div>
        <div class="research-item__sources">
            <%= sources %>
        </div>
    </div>
</li>