<footer class="footer <%= title == 'Frontpage' ? 'section fp-auto-height' : 'footer--gradient' %>" data-color="transparent">

    <div class="footer__slogan-ticker slogan-ticker">
        <div class="slogan-ticker__ticker">
            <% for( let index=0; index < 4; index++ ) { %>
                <div class="slogan-ticker__ticker-item">
                    <img src="<%=require(`@assets/img/icons/footer_slogan.svg`)%>" alt="Оставайтесь на связи">
                </div>
                <% } %>
        </div>

    </div>

    <div class="footer__content">
        <div class="container">
            <div class="row footer__row">
                <div class="col-xl-4 col-lg-5">
                    <div class="footer__footer-contacts footer-contacts">
                        <ul class="footer-contacts__list">
                            <li class="footer-contacts__item">
                                <a href="tel:+74959999999" class="footer-contacts__link">+7(495)999-99-99</a>
                            </li>
                            <li class="footer-contacts__item">
                                <a href="mailto:info@elxr.ru" class="footer-contacts__link">info@elxr.ru</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__notice">
                        Биологически активная добавка к пище "Эл Икс Ар" <br>
                        Не является лекарственным средством <br>
                        Перед применением проконсультируйтесь с врачом
                    </div>
                    <div class="footer__footer-links footer-links">
                        <ul class="footer-links__list">
                            <li class="footer-links__item">
                                <a href="" class="footer-links__link">Политика конфеденциальности.</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="footer__footer-socials footer-socials">
                        <ul class="footer-socials__list">
                            <li class="footer-socials__item">
                                <a target="_blank" rel="nofollow" class="footer-socials__link" href="">
                                    <svg width="124" height="103" viewBox="0 0 124 103" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M66.0832 80.7381C61.3266 85.2854 56.5947 89.7509 51.8874 94.3228C50.0554 96.0844 48.7327 96.6744 46.6625 96.4367C46.835 93.8476 46.9993 91.2503 47.1801 88.653C47.6483 82.4587 48.1166 76.2726 48.4698 70.0784C48.4806 69.3831 48.6426 68.6984 48.9447 68.0717C49.2469 67.445 49.6819 66.8912 50.2197 66.4487C66.8856 51.6458 83.5076 36.7829 100.086 21.8599C100.757 21.3007 101.381 20.6868 101.951 20.0245C102.657 19.1478 102.288 18.2957 101.178 18.3858C100.088 18.4949 99.034 18.8387 98.0896 19.3936C90.4741 24.0639 82.8915 28.7997 75.3089 33.5192C61.5238 42.1332 47.7414 50.7527 33.9618 59.3777C33.5529 59.6569 33.0823 59.8332 32.5902 59.8917C32.0981 59.9502 31.5991 59.8891 31.1358 59.7136C22.5263 57.0098 13.8839 54.3797 5.29084 51.6677C3.96965 51.2656 2.71144 50.6809 1.55294 49.9307C-0.336557 48.6934 -0.558367 46.7434 1.19968 45.3259C2.80625 44.0385 4.60169 43.0049 6.52312 42.2616C33.6168 31.8504 60.7269 21.472 87.8534 11.1264C96.8901 7.67698 105.927 4.19476 114.964 0.794469C116.264 0.25065 117.661 -0.0279406 119.071 -0.0248774C122.168 0.138992 124.173 2.5151 123.951 6.00551C123.689 8.88515 123.214 11.7415 122.53 14.5513C116.763 41.5897 110.968 68.6281 105.146 95.6666C104.812 97.1885 104.305 98.6674 103.635 100.075C103.177 101.203 102.297 102.11 101.181 102.604C100.065 103.097 98.8005 103.14 97.6542 102.721C96.2251 102.291 94.8743 101.636 93.6534 100.779C84.8385 94.413 76.0893 87.9729 67.3155 81.5574C66.9212 81.2788 66.5433 81.0412 66.0832 80.7381Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-socials__item">
                                <a target="_blank" rel="nofollow" class="footer-socials__link" href="">
                                    <svg width="55" height="111" viewBox="0 0 55 111" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M50.9367 61.4666H35.6144V111.001H15.9213V61.4666H0V41.6789H15.9213V40.049C15.9213 34.556 15.8241 29.0549 16.0751 23.5701C16.3907 16.6346 18.6085 10.3756 23.9507 5.64059C26.9842 2.94335 30.7238 1.18093 34.7241 0.563282C41.4746 -0.545089 48.209 0.23729 55.0405 0.815925V18.4439C54.5467 18.4439 54.1258 18.4928 53.6887 18.5009C50.1597 18.5009 46.6225 18.4032 43.1096 18.6069C38.4069 18.8758 35.9787 21.3126 35.7844 26.0721C35.5982 31.2309 35.7844 36.3734 35.7844 41.6382H53.4216C52.6122 48.2965 51.8028 54.7919 50.9367 61.4666Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-socials__item">
                                <a target="_blank" rel="nofollow" class="footer-socials__link" href="">
                                    <svg width="106" height="106" viewBox="0 0 106 106" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M52.887 105.955C45.0825 105.955 37.2805 105.955 29.481 105.955C22.3454 106.076 15.4227 103.523 10.075 98.7968C6.89699 96.1164 4.35158 92.766 2.62135 88.9858C0.891131 85.2055 0.0189826 81.0892 0.0674746 76.9321C-0.0127259 60.9722 -0.0127259 45.0123 0.0674746 29.0524C0.0402571 22.8712 2.00426 16.8455 5.66868 11.8675C9.33311 6.88952 14.5032 3.22388 20.4133 1.41332C23.3168 0.54518 26.3302 0.0995075 29.3607 0.0900131C45.1126 -0.000212427 60.9021 -0.000212427 76.6915 0.0373816C89.6765 0.0373816 100.707 7.99979 104.601 20.3381C105.491 23.2788 105.947 26.3335 105.955 29.4058C106.083 45.1276 106.037 60.8494 106.007 76.5712C106.007 89.5863 98.1652 100.511 85.7517 104.519C82.7319 105.414 79.6006 105.877 76.4509 105.895C68.5787 106.082 60.7291 105.955 52.887 105.955ZM53.0299 82.0299C58.773 82.0254 64.3858 80.318 69.1585 77.1236C73.9312 73.9292 77.6495 69.3913 79.8432 64.0836C82.0368 58.776 82.6073 52.9371 81.4825 47.3052C80.3577 41.6733 77.5882 36.5015 73.524 32.4437C69.4599 28.3858 64.2837 25.6243 58.6501 24.5082C53.0165 23.3922 47.1785 23.9718 41.8743 26.1737C36.5701 28.3756 32.0379 32.1009 28.8509 36.8786C25.6639 41.6563 23.9653 47.2717 23.9697 53.0148C23.9995 60.7087 27.0722 68.0784 32.5169 73.5146C37.9615 78.9508 45.3359 82.012 53.0299 82.0299ZM93.4509 19.8118C93.4224 18.1243 92.8942 16.4832 91.9331 15.0959C90.9719 13.7086 89.621 12.6374 88.0511 12.0178C86.4812 11.3983 84.7628 11.2581 83.1133 11.6151C81.4637 11.9721 79.9571 12.8102 78.7838 14.0234C77.6105 15.2366 76.8234 16.7704 76.5218 18.431C76.2202 20.0916 76.4178 21.8043 77.0896 23.3526C77.7614 24.9008 78.8771 26.2152 80.2958 27.1293C81.7145 28.0435 83.3724 28.5165 85.0599 28.4885C87.3214 28.445 89.4737 27.5078 91.0461 25.8819C92.6185 24.2559 93.4831 22.0735 93.4509 19.8118Z"
                                            fill="white" />
                                        <path
                                            d="M75.7668 52.9396C75.7757 57.4406 74.4498 61.8432 71.9567 65.5908C69.4636 69.3383 65.9153 72.2625 61.7605 73.9935C57.6056 75.7246 53.0307 76.1848 48.6143 75.316C44.1979 74.4472 40.1383 72.2883 36.9487 69.1125C33.7592 65.9366 31.5829 61.8862 30.6951 57.4736C29.8074 53.061 30.2479 48.4842 31.9611 44.3219C33.6743 40.1596 36.5832 36.5988 40.32 34.0897C44.0568 31.5805 48.4537 30.2357 52.9548 30.2253C55.9456 30.2134 58.9093 30.7921 61.676 31.9282C64.4427 33.0643 66.9578 34.7354 69.0772 36.8457C71.1966 38.956 72.8785 41.464 74.0265 44.2257C75.1744 46.9875 75.7658 49.9487 75.7668 52.9396Z"
                                            fill="white" />
                                        <path
                                            d="M84.962 22.7668C84.4041 22.7742 83.8565 22.6159 83.3886 22.312C82.9207 22.008 82.5535 21.5721 82.3335 21.0593C82.1134 20.5466 82.0505 19.9801 82.1526 19.4316C82.2547 18.883 82.5172 18.3771 82.907 17.9779C83.2968 17.5786 83.7962 17.304 84.3421 17.1887C84.8881 17.0735 85.4559 17.1228 85.9738 17.3304C86.4917 17.5381 86.9363 17.8947 87.2514 18.3552C87.5665 18.8156 87.7379 19.3592 87.7439 19.9172C87.7348 20.6585 87.4408 21.3679 86.9229 21.8984C86.405 22.4289 85.7029 22.7398 84.962 22.7668Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<% if (title == "Frontpage") { %>
<!-- </div> -->
</div>
</div>
<% } %>


<div id="compositionModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal__dialog modal__dialog--full modal-dialog" role="document">
        <div class="modal__content">
            <div class="modal__body">
                <button class="modal__close" data-bs-dismiss="modal" aria-label="Закрыть">
                    <svg width="32" height="34" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.883883" y1="0.891019" x2="31.1089" y2="31.116" stroke="white" stroke-width="2.5" />
                        <line x1="31.109" y1="2.88388" x2="0.883984" y2="33.1089" stroke="white" stroke-width="2.5" />
                    </svg>
                </button>
                <div class="modal__tabs tabs">
                    <ul class="tabs__nav">
                        <li class="tabs__nav-item">
                            <a href="#first" class="tabs__nav-link tabs__nav-link--active">
                                <div class="tabs__nav-icon">
                                    <svg width="31" height="17" viewBox="0 0 31 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M25.4121 10.292C26.3108 9.80577 27.1934 9.28172 28.0708 8.74146C28.2254 8.63332 28.3385 8.4742 28.3908 8.29106C28.4431 8.10791 28.4315 7.91202 28.3579 7.73658C28.2889 7.55171 28.162 7.39501 27.9968 7.29056C27.8315 7.18612 27.6371 7.13972 27.4434 7.1585C27.3284 7.17597 27.217 7.21247 27.1137 7.26655C26.2735 7.74738 25.4334 8.22821 24.6092 8.73606C24.418 8.8511 24.2786 9.03761 24.221 9.25569C24.1634 9.47377 24.192 9.70611 24.3008 9.90301C24.3992 10.1026 24.5706 10.2551 24.7784 10.3278C24.9861 10.4006 25.2136 10.3877 25.4121 10.292Z"
                                            fill="white" />
                                        <path
                                            d="M2.8188 9.01157C3.52601 9.42757 4.2279 9.85978 4.94574 10.2488C5.08739 10.3271 5.24639 10.3674 5.40767 10.3658C5.56894 10.3642 5.72713 10.3207 5.86723 10.2395C6.00732 10.1583 6.12468 10.0421 6.20816 9.90191C6.29163 9.7617 6.33846 9.60214 6.3442 9.43838C6.20595 9.21687 6.11555 8.89812 5.91881 8.79007C5.0574 8.24981 4.16941 7.70955 3.26014 7.23412C3.06983 7.14869 2.85488 7.13904 2.65789 7.20709C2.46091 7.27514 2.29629 7.41591 2.19667 7.6015C2.08628 7.79701 2.05287 8.02775 2.10319 8.24728C2.15351 8.46681 2.2838 8.65882 2.46786 8.78466C2.56357 8.8657 2.69119 8.93594 2.8188 9.01157Z"
                                            fill="white" />
                                        <path
                                            d="M8.77957 5.68883C8.83594 5.79473 8.91285 5.88793 9.00565 5.9628C9.09844 6.03768 9.20521 6.09268 9.31949 6.12449C9.43378 6.15629 9.55323 6.16425 9.67062 6.14787C9.78802 6.13149 9.90094 6.09112 10.0026 6.02919C10.1033 5.97118 10.1915 5.89311 10.2619 5.79966C10.3323 5.70621 10.3834 5.59929 10.4122 5.48531C10.441 5.37133 10.4469 5.25262 10.4295 5.13628C10.4121 5.01994 10.3718 4.90836 10.311 4.80821C9.84836 3.96 9.36448 3.128 8.88592 2.296C8.8162 2.17002 8.7152 2.06481 8.59297 1.99087C8.47075 1.91693 8.33158 1.87684 8.18934 1.8746C8.0296 1.86624 7.87061 1.90213 7.72939 1.97846C7.58817 2.05478 7.47001 2.16866 7.38755 2.30793C7.30509 2.44719 7.26143 2.60661 7.26123 2.76913C7.26103 2.93166 7.30431 3.09118 7.38643 3.23065C7.83308 4.06265 8.30633 4.87844 8.77957 5.68883Z"
                                            fill="white" />
                                        <path
                                            d="M20.9455 6.22911C21.1635 6.08864 21.4773 6.00761 21.5836 5.80771C22.1153 4.92169 22.6471 4.01405 23.1363 3.10641C23.2204 2.91305 23.2298 2.69465 23.1629 2.49451C23.0959 2.29437 22.9573 2.12711 22.7747 2.0259C22.597 1.9121 22.3838 1.87005 22.1771 1.90805C21.9704 1.94605 21.7852 2.06134 21.658 2.2312C21.1263 3.13343 20.5946 4.04106 20.1001 4.98111C20.0536 5.12045 20.0398 5.26887 20.0598 5.41457C20.0797 5.56028 20.1328 5.69924 20.2149 5.82042C20.297 5.94159 20.4058 6.04164 20.5326 6.11259C20.6595 6.18353 20.8008 6.22343 20.9455 6.22911Z"
                                            fill="white" />
                                        <path
                                            d="M15.2294 4.61381C15.3508 4.61413 15.4711 4.58897 15.5826 4.53991C15.694 4.49084 15.7943 4.41892 15.8772 4.32865C15.9601 4.23838 16.0237 4.1317 16.0641 4.01529C16.1045 3.89889 16.1208 3.77526 16.112 3.65215C16.112 3.19833 16.112 2.74452 16.112 2.2907C16.112 1.83688 16.112 1.35605 16.112 0.891427C16.112 0.655006 16.0196 0.428268 15.8551 0.261093C15.6905 0.093918 15.4674 0 15.2347 0C15.002 0 14.7788 0.093918 14.6143 0.261093C14.4497 0.428268 14.3573 0.655006 14.3573 0.891427C14.3573 1.81527 14.3573 2.73371 14.3573 3.65755C14.3501 3.77915 14.3672 3.90097 14.4076 4.01566C14.448 4.13035 14.5108 4.23555 14.5923 4.3249C14.6738 4.41426 14.7723 4.48592 14.8818 4.53558C14.9912 4.58523 15.1095 4.61184 15.2294 4.61381Z"
                                            fill="white" />
                                        <path
                                            d="M29.3151 14.6897H23.3969C23.2185 12.6655 22.301 10.7824 20.8249 9.41095C19.3489 8.03948 17.4211 7.27893 15.4209 7.27893C13.4206 7.27893 11.4929 8.03948 10.0168 9.41095C8.54069 10.7824 7.62321 12.6655 7.44484 14.6897H0.984269C0.858658 14.6799 0.732419 14.6966 0.613466 14.7388C0.494513 14.7809 0.385411 14.8476 0.293001 14.9346C0.20059 15.0216 0.126864 15.127 0.076445 15.2443C0.0260256 15.3616 0 15.4882 0 15.6162C0 15.7442 0.0260256 15.8708 0.076445 15.9881C0.126864 16.1054 0.20059 16.2109 0.293001 16.2979C0.385411 16.3849 0.494513 16.4515 0.613466 16.4937C0.732419 16.5358 0.858658 16.5525 0.984269 16.5428H29.3151C29.5449 16.5249 29.7596 16.4196 29.9163 16.2478C30.0729 16.076 30.16 15.8504 30.16 15.6162C30.16 15.382 30.0729 15.1565 29.9163 14.9847C29.7596 14.8129 29.5449 14.7075 29.3151 14.6897ZM9.51329 14.6897C9.69625 13.2348 10.3949 11.8976 11.4784 10.9284C12.5619 9.9592 13.956 9.42456 15.3996 9.42456C16.8432 9.42456 18.2372 9.9592 19.3207 10.9284C20.4043 11.8976 21.1029 13.2348 21.2859 14.6897H9.51329Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                После сна
                            </a>
                        </li>
                        <li class="tabs__nav-item">
                            <a href="#second" class="tabs__nav-link">
                                <div class="tabs__nav-icon">
                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M14.9835 6.93408C13.3984 6.93408 11.8489 7.40412 10.531 8.28475C9.21299 9.16538 8.18577 10.4171 7.57918 11.8815C6.97259 13.3459 6.81388 14.9574 7.12311 16.512C7.43235 18.0666 8.19565 19.4947 9.31648 20.6155C10.4373 21.7363 11.8653 22.4996 13.42 22.8089C14.9746 23.1181 16.586 22.9594 18.0505 22.3528C19.5149 21.7462 20.7666 20.719 21.6472 19.401C22.5279 18.0831 22.9979 16.5336 22.9979 14.9485C22.9887 12.8257 22.1414 10.7926 20.6404 9.29157C19.1394 7.79057 17.1062 6.94325 14.9835 6.93408ZM14.9835 20.8722C13.7936 20.8997 12.6227 20.5702 11.6218 19.9262C10.6208 19.2822 9.83566 18.3532 9.3675 17.259C8.89933 16.1647 8.76962 14.9553 8.99507 13.7866C9.22051 12.6179 9.79079 11.5435 10.6324 10.7019C11.474 9.86029 12.5484 9.29001 13.7171 9.06456C14.8858 8.83912 16.0952 8.96883 17.1895 9.437C18.2837 9.90516 19.2127 10.6903 19.8567 11.6913C20.5007 12.6922 20.8302 13.8631 20.8027 15.053C20.7588 16.5825 20.1316 18.0373 19.0497 19.1192C17.9678 20.2011 16.513 20.8283 14.9835 20.8722Z"
                                            fill="white" />
                                        <path
                                            d="M22.9979 8.22317C23.2318 8.10593 23.4536 7.96587 23.6599 7.80503C24.1129 7.42173 24.5311 6.96874 24.9492 6.5506L25.7158 5.74916C25.8977 5.55818 25.9977 5.30365 25.9945 5.03994C25.9913 4.77622 25.8851 4.52421 25.6986 4.33772C25.5121 4.15123 25.2601 4.04504 24.9964 4.04182C24.7327 4.03861 24.4781 4.13862 24.2871 4.32051C24.0732 4.48806 23.875 4.67467 23.6948 4.87803L22.0222 6.58545C21.9128 6.75081 21.8545 6.9447 21.8545 7.14297C21.8545 7.34124 21.9128 7.53513 22.0222 7.70049C22.1267 8.04894 22.4752 8.18832 22.9979 8.22317Z"
                                            fill="white" />
                                        <path
                                            d="M6.86465 21.8828C6.64246 22.0014 6.43239 22.1415 6.23743 22.301C5.57537 22.8933 4.94816 23.5205 4.32095 24.1478L4.18157 24.3568C4.02871 24.5436 3.94519 24.7775 3.94519 25.0189C3.94519 25.2602 4.02871 25.4942 4.18157 25.6809C4.36183 25.8475 4.59822 25.9399 4.84363 25.9399C5.08903 25.9399 5.32543 25.8475 5.50568 25.6809C6.30712 24.9492 7.03887 24.1826 7.77062 23.416C7.8866 23.2598 7.94922 23.0704 7.94922 22.8759C7.94922 22.6814 7.8866 22.492 7.77062 22.3358C7.84031 22.057 7.52671 21.9177 6.86465 21.8828Z"
                                            fill="white" />
                                        <path
                                            d="M23.4508 22.1268C23.2946 22.0109 23.1052 21.9482 22.9107 21.9482C22.7162 21.9482 22.5268 22.0109 22.3706 22.1268C21.9873 22.1268 21.8479 22.6495 21.8131 23.1722C21.7782 23.6949 21.8131 23.5206 22.057 23.66C22.8004 24.4266 23.5321 25.1584 24.2522 25.8553C24.3401 25.947 24.4455 26.02 24.5623 26.0698C24.6791 26.1197 24.8047 26.1454 24.9317 26.1454C25.0587 26.1454 25.1844 26.1197 25.3011 26.0698C25.4179 26.02 25.5234 25.947 25.6112 25.8553C25.7084 25.7671 25.7862 25.6595 25.8393 25.5395C25.8925 25.4195 25.92 25.2896 25.92 25.1584C25.92 25.0271 25.8925 24.8973 25.8393 24.7772C25.7862 24.6572 25.7084 24.5497 25.6112 24.4615C24.984 23.5555 24.2871 22.8237 23.4508 22.1268Z"
                                            fill="white" />
                                        <path
                                            d="M6.5162 7.97927C6.67239 8.09524 6.86176 8.15786 7.0563 8.15786C7.25084 8.15786 7.44021 8.09524 7.5964 7.97927C7.78107 7.87828 7.93221 7.72555 8.03126 7.53984C8.13031 7.35413 8.17294 7.14352 8.15392 6.93391C8.15392 6.93391 8.15392 6.55061 7.87516 6.37639L5.67991 4.18114C5.49785 4.00446 5.25413 3.90564 5.00043 3.90564C4.74674 3.90564 4.50301 4.00446 4.32095 4.18114C4.13968 4.37483 4.03882 4.63019 4.03882 4.89547C4.03882 5.16075 4.13968 5.41611 4.32095 5.60979C4.98301 6.55061 5.74961 7.28236 6.5162 7.97927Z"
                                            fill="white" />
                                        <path
                                            d="M14.9835 4.94802C15.1223 4.94835 15.2596 4.92009 15.387 4.865C15.5144 4.80992 15.629 4.72919 15.7238 4.62785C15.8186 4.5265 15.8916 4.40672 15.938 4.27595C15.9845 4.14519 16.0036 4.00626 15.994 3.86781V1.0802C15.994 0.793714 15.8802 0.51896 15.6776 0.316383C15.475 0.113807 15.2003 0 14.9138 0C14.6273 0 14.3526 0.113807 14.15 0.316383C13.9474 0.51896 13.8336 0.793714 13.8336 1.0802C13.8336 2.02102 13.8336 2.927 13.8336 3.86781C13.8216 4.01883 13.8438 4.17059 13.8984 4.31189C13.953 4.45319 14.0387 4.5804 14.1491 4.68412C14.2595 4.78783 14.3918 4.8654 14.5362 4.91108C14.6807 4.95676 14.8335 4.96938 14.9835 4.94802Z"
                                            fill="white" />
                                        <path
                                            d="M4.87832 15.088C4.89884 14.9365 4.88589 14.7824 4.84038 14.6365C4.79486 14.4905 4.7179 14.3563 4.6149 14.2434C4.51191 14.1304 4.38539 14.0414 4.24427 13.9827C4.10315 13.9239 3.95085 13.8968 3.79812 13.9033H1.01051C0.742506 13.9033 0.485479 14.0097 0.295972 14.1993C0.106464 14.3888 0 14.6458 0 14.9138C0 15.1818 0.106464 15.4388 0.295972 15.6283C0.485479 15.8178 0.742506 15.9243 1.01051 15.9243H3.79812C4.05017 15.9454 4.30095 15.8712 4.50095 15.7163C4.70094 15.5615 4.8356 15.3373 4.87832 15.088Z"
                                            fill="white" />
                                        <path
                                            d="M28.9911 13.903H26.1687C26.0291 13.8879 25.8878 13.903 25.7546 13.9475C25.6214 13.9919 25.4993 14.0646 25.3968 14.1605C25.2942 14.2564 25.2136 14.3734 25.1604 14.5034C25.1072 14.6333 25.0827 14.7732 25.0885 14.9136C25.0882 15.0523 25.1164 15.1897 25.1715 15.3171C25.2266 15.4444 25.3073 15.5591 25.4087 15.6539C25.51 15.7487 25.6298 15.8216 25.7606 15.8681C25.8913 15.9146 26.0302 15.9336 26.1687 15.9241H28.9911C29.1326 15.9339 29.2745 15.9139 29.4077 15.8654C29.5409 15.8168 29.6624 15.7408 29.7643 15.6422C29.8661 15.5436 29.9461 15.4246 29.999 15.2931C30.0519 15.1616 30.0766 15.0204 30.0713 14.8787C30.067 14.7429 30.0353 14.6093 29.9781 14.4861C29.921 14.3628 29.8395 14.2523 29.7387 14.1612C29.6378 14.0701 29.5197 14.0003 29.3912 13.956C29.2628 13.9116 29.1267 13.8936 28.9911 13.903Z"
                                            fill="white" />
                                        <path
                                            d="M14.9834 25.1581C14.8477 25.158 14.7134 25.1852 14.5884 25.2382C14.4635 25.2911 14.3505 25.3687 14.2562 25.4663C14.1619 25.5638 14.0882 25.6794 14.0395 25.806C13.9909 25.9327 13.9682 26.0678 13.9729 26.2034C13.9729 27.1443 13.9729 28.1199 13.9729 29.0607C13.9633 29.1992 13.9823 29.3381 14.0288 29.4689C14.0753 29.5996 14.1482 29.7194 14.243 29.8208C14.3378 29.9221 14.4525 30.0028 14.5799 30.0579C14.7072 30.113 14.8446 30.1413 14.9834 30.1409C15.1207 30.1364 15.2557 30.1049 15.3809 30.0482C15.506 29.9915 15.6187 29.9106 15.7125 29.8103C15.8064 29.71 15.8795 29.5921 15.9278 29.4635C15.9761 29.3349 15.9985 29.198 15.9939 29.0607V26.2034C15.9986 26.0678 15.9759 25.9327 15.9272 25.806C15.8785 25.6794 15.8048 25.5638 15.7105 25.4663C15.6162 25.3687 15.5032 25.2911 15.3783 25.2382C15.2534 25.1852 15.1191 25.158 14.9834 25.1581Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                В течении дня
                            </a>
                        </li>
                        <li class="tabs__nav-item">
                            <a href="#third" class="tabs__nav-link">
                                <div class="tabs__nav-icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M18.9056 7.70738C18.8698 7.5412 18.7816 7.3909 18.654 7.27859C18.5264 7.16628 18.3661 7.0979 18.1967 7.0835C18.0344 7.07209 17.8727 7.11267 17.735 7.19935C17.5974 7.28604 17.4909 7.41432 17.431 7.56559V7.84917C17.201 8.69829 16.7443 9.46884 16.1099 10.0783C15.4755 10.6877 14.6872 11.1131 13.8295 11.3089C12.8982 11.5882 11.9055 11.5894 10.9735 11.3123C10.0415 11.0352 9.21075 10.4919 8.58326 9.74918C8.13709 9.21583 7.81011 8.59325 7.62425 7.92319C7.4384 7.25313 7.39796 6.55107 7.50565 5.8641C7.60345 5.04178 7.9102 4.2582 8.39669 3.58804C8.88317 2.91788 9.53318 2.38347 10.2848 2.03574L11.0504 1.75216L11.4191 1.66708C11.6221 1.57841 11.7841 1.41636 11.8728 1.21335C11.9454 1.03127 11.9454 0.828273 11.8728 0.646189C11.822 0.495806 11.7273 0.364094 11.601 0.268052C11.4746 0.17201 11.3223 0.116046 11.1639 0.107383C10.224 -0.0357942 9.26789 -0.0357942 8.32804 0.107383C7.05282 0.257681 5.82254 0.67038 4.71465 1.31949C3.60677 1.96861 2.64527 2.84008 1.89072 3.87902C0.416926 5.82203 -0.234835 8.26614 0.0757983 10.685C0.354093 12.7923 1.35664 14.7373 2.91162 16.1865C3.80783 17.1019 4.88092 17.8253 6.0656 18.3129C7.25027 18.8004 8.52175 19.0418 9.80266 19.0223H10.0012H10.7952C12.904 18.7486 14.8504 17.7453 16.2967 16.1865C17.247 15.2749 17.9917 14.1708 18.4807 12.9482C18.9698 11.7255 19.192 10.4124 19.1325 9.09694C19.1289 8.67721 19.0814 8.259 18.9907 7.84917L18.9056 7.70738ZM7.81759 11.3089C8.72117 12.2118 9.86151 12.8409 11.1071 13.1238C12.3799 13.3831 13.7007 13.2648 14.9071 12.7835C15.8556 12.4252 16.7024 11.8412 17.3743 11.082C17.1201 12.2563 16.6027 13.3576 15.861 14.303C15.1194 15.2483 14.1729 16.013 13.0929 16.5395C12.0128 17.0659 10.8274 17.3404 9.62588 17.3423C8.42436 17.3441 7.23808 17.0732 6.15644 16.5501C5.07479 16.0269 4.12598 15.2651 3.38148 14.322C2.63698 13.3789 2.11621 12.2792 1.85841 11.1057C1.6006 9.93212 1.61249 8.71537 1.89317 7.54709C2.17385 6.37881 2.716 5.28946 3.47878 4.36111C4.6545 2.97533 6.26296 2.02624 8.04445 1.66708C6.80555 2.7754 6.04341 4.32 5.91759 5.97753C5.81761 6.95156 5.93629 7.93563 6.26499 8.85796C6.5937 9.78029 7.12412 10.6176 7.81759 11.3089Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                Перед сном
                            </a>
                        </li>
                    </ul>
                    <div class="tabs__content-wrap">
                        <div class="tabs__content tabs__content--active" id="first">
                            <div class="tabs__content-heading">
                                <svg width="153" height="23" viewBox="0 0 153 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.48438 3.64453H12.959V18H11.0352V5.32422H3.39844V18H1.48438V3.64453ZM29.2285 10.8223C29.2285 11.4408 29.1667 12.0592 29.043 12.6777C28.9193 13.2897 28.7305 13.8757 28.4766 14.4355C28.2227 14.9889 27.9036 15.5065 27.5195 15.9883C27.1419 16.4635 26.6927 16.8802 26.1719 17.2383C25.651 17.5898 25.0618 17.8633 24.4043 18.0586C23.7533 18.2604 23.0306 18.3613 22.2363 18.3613C21.4421 18.3613 20.7161 18.2604 20.0586 18.0586C19.401 17.8633 18.8118 17.5898 18.291 17.2383C17.7767 16.8802 17.3275 16.4635 16.9434 15.9883C16.5592 15.5065 16.2402 14.9889 15.9863 14.4355C15.7324 13.8757 15.5436 13.2897 15.4199 12.6777C15.2962 12.0592 15.2344 11.4408 15.2344 10.8223C15.2344 9.70898 15.3906 8.6901 15.7031 7.76562C16.0221 6.84115 16.4811 6.04688 17.0801 5.38281C17.679 4.71875 18.4115 4.20443 19.2773 3.83984C20.1432 3.46875 21.1296 3.2832 22.2363 3.2832C23.3366 3.2832 24.3197 3.46875 25.1855 3.83984C26.0579 4.20443 26.7904 4.71875 27.3828 5.38281C27.9818 6.04688 28.4375 6.84115 28.75 7.76562C29.069 8.6901 29.2285 9.70898 29.2285 10.8223ZM27.3145 10.8223C27.3145 9.9694 27.2005 9.1849 26.9727 8.46875C26.7448 7.74609 26.4128 7.1276 25.9766 6.61328C25.5469 6.09245 25.0163 5.6888 24.3848 5.40234C23.7533 5.10938 23.0371 4.96289 22.2363 4.96289C21.429 4.96289 20.7096 5.10938 20.0781 5.40234C19.4466 5.6888 18.9128 6.09245 18.4766 6.61328C18.0469 7.1276 17.7181 7.74609 17.4902 8.46875C17.2624 9.1849 17.1484 9.9694 17.1484 10.8223C17.1484 11.6947 17.2526 12.4922 17.4609 13.2148C17.6693 13.931 17.985 14.5462 18.4082 15.0605C18.8314 15.5749 19.3587 15.9753 19.9902 16.2617C20.6283 16.5417 21.377 16.6816 22.2363 16.6816C23.0892 16.6816 23.8346 16.5417 24.4727 16.2617C25.1107 15.9753 25.638 15.5749 26.0547 15.0605C26.4779 14.5462 26.7936 13.931 27.002 13.2148C27.2103 12.4922 27.3145 11.6947 27.3145 10.8223ZM32.7148 10.8027C32.7148 11.7012 32.8288 12.515 33.0566 13.2441C33.2845 13.9668 33.6035 14.582 34.0137 15.0898C34.4303 15.5977 34.9284 15.9915 35.5078 16.2715C36.0938 16.5449 36.7383 16.6816 37.4414 16.6816C38.0534 16.6816 38.6003 16.571 39.082 16.3496C39.5703 16.1283 39.9902 15.8385 40.3418 15.4805C40.6934 15.1159 40.9766 14.7057 41.1914 14.25C41.4062 13.7943 41.5495 13.332 41.6211 12.8633H43.4766C43.4375 13.2799 43.3464 13.7064 43.2031 14.1426C43.0664 14.5723 42.8776 14.9922 42.6367 15.4023C42.4023 15.806 42.1191 16.1901 41.7871 16.5547C41.4551 16.9128 41.071 17.2253 40.6348 17.4922C40.2051 17.7591 39.7233 17.9707 39.1895 18.127C38.6556 18.2832 38.0729 18.3613 37.4414 18.3613C37.0052 18.3613 36.5365 18.3158 36.0352 18.2246C35.5404 18.1335 35.0456 17.9805 34.5508 17.7656C34.0625 17.5508 33.5905 17.2643 33.1348 16.9062C32.6855 16.5417 32.2884 16.0859 31.9434 15.5391C31.5983 14.9922 31.3216 14.3477 31.1133 13.6055C30.9049 12.8568 30.8008 11.9876 30.8008 10.998C30.8008 10.028 30.8919 9.16211 31.0742 8.40039C31.263 7.63867 31.5169 6.97461 31.8359 6.4082C32.1615 5.83529 32.5391 5.35026 32.9688 4.95312C33.4049 4.55599 33.8704 4.23372 34.3652 3.98633C34.86 3.73893 35.3743 3.5599 35.9082 3.44922C36.4421 3.33854 36.9727 3.2832 37.5 3.2832C38.151 3.2832 38.7435 3.35156 39.2773 3.48828C39.8177 3.61849 40.2995 3.80078 40.7227 4.03516C41.1523 4.26302 41.5267 4.52995 41.8457 4.83594C42.1647 5.14193 42.4316 5.46745 42.6465 5.8125C42.8678 6.15104 43.0371 6.49935 43.1543 6.85742C43.278 7.21549 43.3529 7.5638 43.3789 7.90234H41.5039C41.3802 7.4401 41.1979 7.02669 40.957 6.66211C40.7161 6.29753 40.4232 5.99154 40.0781 5.74414C39.7396 5.49023 39.3555 5.29818 38.9258 5.16797C38.5026 5.03125 38.0469 4.96289 37.5586 4.96289C36.8229 4.96289 36.1556 5.09961 35.5566 5.37305C34.9642 5.64648 34.4564 6.03711 34.0332 6.54492C33.61 7.05273 33.2845 7.66797 33.0566 8.39062C32.8288 9.10677 32.7148 9.91081 32.7148 10.8027ZM54.7949 5.32422H49.668C49.668 6.4375 49.6549 7.53125 49.6289 8.60547C49.6029 9.67969 49.5475 10.6986 49.4629 11.6621C49.3783 12.6191 49.2513 13.5013 49.082 14.3086C48.9128 15.1159 48.6816 15.8158 48.3887 16.4082C48.0957 16.9941 47.7311 17.4531 47.2949 17.7852C46.8652 18.1107 46.3411 18.2734 45.7227 18.2734C45.5339 18.2734 45.3743 18.2572 45.2441 18.2246C45.1204 18.1921 44.9837 18.1562 44.834 18.1172V16.3398C44.9056 16.3724 44.9935 16.4017 45.0977 16.4277C45.2083 16.4473 45.3646 16.457 45.5664 16.457C45.8659 16.457 46.123 16.3496 46.3379 16.1348C46.5592 15.9134 46.748 15.6074 46.9043 15.2168C47.0605 14.8262 47.1875 14.3639 47.2852 13.8301C47.3893 13.2897 47.4707 12.7038 47.5293 12.0723C47.5944 11.4408 47.64 10.7734 47.666 10.0703C47.6986 9.36719 47.7214 8.6543 47.7344 7.93164C47.7539 7.20247 47.7637 6.47656 47.7637 5.75391C47.7702 5.02474 47.7799 4.32161 47.793 3.64453H56.7188V18H54.7949V5.32422ZM59.6875 3.64453H70.166V5.32422H61.6016V9.75781H69.502V11.4375H61.6016V16.3203H70.3027V18H59.6875V3.64453ZM113.203 10.8027C113.203 11.7012 113.317 12.515 113.545 13.2441C113.773 13.9668 114.092 14.582 114.502 15.0898C114.919 15.5977 115.417 15.9915 115.996 16.2715C116.582 16.5449 117.227 16.6816 117.93 16.6816C118.542 16.6816 119.089 16.571 119.57 16.3496C120.059 16.1283 120.479 15.8385 120.83 15.4805C121.182 15.1159 121.465 14.7057 121.68 14.25C121.895 13.7943 122.038 13.332 122.109 12.8633H123.965C123.926 13.2799 123.835 13.7064 123.691 14.1426C123.555 14.5723 123.366 14.9922 123.125 15.4023C122.891 15.806 122.607 16.1901 122.275 16.5547C121.943 16.9128 121.559 17.2253 121.123 17.4922C120.693 17.7591 120.212 17.9707 119.678 18.127C119.144 18.2832 118.561 18.3613 117.93 18.3613C117.493 18.3613 117.025 18.3158 116.523 18.2246C116.029 18.1335 115.534 17.9805 115.039 17.7656C114.551 17.5508 114.079 17.2643 113.623 16.9062C113.174 16.5417 112.777 16.0859 112.432 15.5391C112.087 14.9922 111.81 14.3477 111.602 13.6055C111.393 12.8568 111.289 11.9876 111.289 10.998C111.289 10.028 111.38 9.16211 111.562 8.40039C111.751 7.63867 112.005 6.97461 112.324 6.4082C112.65 5.83529 113.027 5.35026 113.457 4.95312C113.893 4.55599 114.359 4.23372 114.854 3.98633C115.348 3.73893 115.863 3.5599 116.396 3.44922C116.93 3.33854 117.461 3.2832 117.988 3.2832C118.639 3.2832 119.232 3.35156 119.766 3.48828C120.306 3.61849 120.788 3.80078 121.211 4.03516C121.641 4.26302 122.015 4.52995 122.334 4.83594C122.653 5.14193 122.92 5.46745 123.135 5.8125C123.356 6.15104 123.525 6.49935 123.643 6.85742C123.766 7.21549 123.841 7.5638 123.867 7.90234H121.992C121.868 7.4401 121.686 7.02669 121.445 6.66211C121.204 6.29753 120.911 5.99154 120.566 5.74414C120.228 5.49023 119.844 5.29818 119.414 5.16797C118.991 5.03125 118.535 4.96289 118.047 4.96289C117.311 4.96289 116.644 5.09961 116.045 5.37305C115.452 5.64648 114.945 6.03711 114.521 6.54492C114.098 7.05273 113.773 7.66797 113.545 8.39062C113.317 9.10677 113.203 9.91081 113.203 10.8027ZM126.445 3.64453H128.359V9.5625H135.996V3.64453H137.92V18H135.996V11.2422H128.359V18H126.445V3.64453ZM148.496 12.082L146.309 5.69531L143.887 12.082H148.496ZM139.766 18L145.146 3.41992H147.48L152.686 18H150.557L149.043 13.6055H143.398L141.797 18H139.766Z"
                                        fill="white" />
                                    <path
                                        d="M98.9074 12.8725C99.6821 12.4534 100.443 12.0016 101.199 11.5359C101.333 11.4426 101.43 11.3055 101.475 11.1476C101.52 10.9897 101.51 10.8208 101.447 10.6696C101.387 10.5102 101.278 10.3751 101.136 10.2851C100.993 10.1951 100.825 10.1551 100.658 10.1712C100.559 10.1863 100.463 10.2178 100.374 10.2644C99.65 10.6789 98.9257 11.0934 98.2152 11.5312C98.0504 11.6304 97.9302 11.7912 97.8806 11.9792C97.8309 12.1672 97.8556 12.3675 97.9494 12.5372C98.0342 12.7093 98.182 12.8408 98.361 12.9034C98.5401 12.9661 98.7363 12.955 98.9074 12.8725Z"
                                        fill="white" />
                                    <path
                                        d="M79.4301 11.7686C80.0397 12.1272 80.6448 12.4998 81.2636 12.8351C81.3858 12.9027 81.5228 12.9374 81.6619 12.936C81.8009 12.9346 81.9373 12.8971 82.058 12.8271C82.1788 12.7572 82.28 12.657 82.3519 12.5361C82.4239 12.4152 82.4643 12.2777 82.4692 12.1365C82.35 11.9456 82.2721 11.6708 82.1025 11.5776C81.3599 11.1119 80.5944 10.6461 79.8105 10.2363C79.6465 10.1626 79.4612 10.1543 79.2914 10.213C79.1216 10.2717 78.9796 10.393 78.8938 10.553C78.7986 10.7215 78.7698 10.9205 78.8132 11.1097C78.8565 11.299 78.9689 11.4645 79.1275 11.573C79.21 11.6428 79.3201 11.7034 79.4301 11.7686Z"
                                        fill="white" />
                                    <path
                                        d="M84.5687 8.90415C84.6173 8.99544 84.6836 9.07578 84.7636 9.14033C84.8436 9.20488 84.9356 9.25229 85.0341 9.27971C85.1327 9.30713 85.2356 9.31399 85.3368 9.29987C85.438 9.28575 85.5354 9.25095 85.623 9.19756C85.7098 9.14755 85.7859 9.08025 85.8466 8.99969C85.9072 8.91913 85.9513 8.82696 85.9761 8.7287C86.001 8.63044 86.006 8.5281 85.991 8.42781C85.976 8.32752 85.9413 8.23133 85.8888 8.14499C85.49 7.41378 85.0729 6.69653 84.6604 5.97929C84.6003 5.87069 84.5132 5.77999 84.4078 5.71624C84.3025 5.6525 84.1825 5.61794 84.0599 5.61602C83.9222 5.6088 83.7851 5.63975 83.6634 5.70555C83.5416 5.77134 83.4397 5.86952 83.3687 5.98957C83.2976 6.10963 83.2599 6.24706 83.2598 6.38716C83.2596 6.52727 83.2969 6.66479 83.3677 6.78503C83.7527 7.50227 84.1607 8.20554 84.5687 8.90415Z"
                                        fill="white" />
                                    <path
                                        d="M95.0564 9.36987C95.2443 9.24878 95.5148 9.17892 95.6065 9.0066C96.0648 8.24278 96.5232 7.46033 96.945 6.67789C97.0174 6.5112 97.0256 6.32292 96.9679 6.15039C96.9102 5.97785 96.7907 5.83366 96.6333 5.74641C96.4801 5.6483 96.2963 5.61206 96.1181 5.64482C95.9399 5.67758 95.7803 5.77696 95.6706 5.92339C95.2122 6.70118 94.7538 7.48362 94.3275 8.29401C94.2875 8.41413 94.2756 8.54208 94.2928 8.66768C94.31 8.79329 94.3558 8.91309 94.4266 9.01755C94.4973 9.12201 94.5911 9.20825 94.7004 9.26942C94.8098 9.33058 94.9317 9.36498 95.0564 9.36987Z"
                                        fill="white" />
                                    <path
                                        d="M90.1291 7.97743C90.2338 7.97771 90.3375 7.95602 90.4336 7.91372C90.5297 7.87141 90.6162 7.80941 90.6876 7.7316C90.759 7.65378 90.8139 7.56181 90.8487 7.46146C90.8835 7.36111 90.8976 7.25454 90.8901 7.14841C90.8901 6.75719 90.8901 6.36596 90.8901 5.97474C90.8901 5.58352 90.8901 5.16901 90.8901 4.76847C90.8901 4.56466 90.8104 4.3692 90.6685 4.22508C90.5267 4.08096 90.3343 4 90.1337 4C89.9331 4 89.7407 4.08096 89.5989 4.22508C89.457 4.3692 89.3774 4.56466 89.3774 4.76847C89.3774 5.56489 89.3774 6.35665 89.3774 7.15307C89.3712 7.25789 89.3859 7.36291 89.4207 7.46178C89.4555 7.56065 89.5097 7.65134 89.58 7.72837C89.6502 7.8054 89.7351 7.86718 89.8295 7.90998C89.9238 7.95279 90.0258 7.97573 90.1291 7.97743Z"
                                        fill="white" />
                                    <path
                                        d="M102.272 16.6635H97.1697C97.016 14.9185 96.225 13.2952 94.9526 12.1129C93.6801 10.9306 92.0182 10.2749 90.2939 10.2749C88.5695 10.2749 86.9076 10.9306 85.6352 12.1129C84.3627 13.2952 83.5717 14.9185 83.418 16.6635H77.8485C77.7402 16.6551 77.6314 16.6695 77.5289 16.7058C77.4263 16.7421 77.3323 16.7996 77.2526 16.8746C77.1729 16.9496 77.1094 17.0405 77.0659 17.1416C77.0224 17.2427 77 17.3519 77 17.4622C77 17.5726 77.0224 17.6817 77.0659 17.7828C77.1094 17.884 77.1729 17.9749 77.2526 18.0499C77.3323 18.1248 77.4263 18.1823 77.5289 18.2186C77.6314 18.255 77.7402 18.2694 77.8485 18.261H102.272C102.47 18.2456 102.655 18.1548 102.79 18.0067C102.925 17.8586 103 17.6641 103 17.4622C103 17.2603 102.925 17.0659 102.79 16.9178C102.655 16.7697 102.47 16.6789 102.272 16.6635ZM85.2011 16.6635C85.3588 15.4093 85.9611 14.2565 86.8952 13.421C87.8293 12.5855 89.0311 12.1246 90.2755 12.1246C91.52 12.1246 92.7218 12.5855 93.6558 13.421C94.5899 14.2565 95.1922 15.4093 95.3499 16.6635H85.2011Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <table class="tabs__table table table--light">
                                <thead>
                                    <tr>
                                        <th>Действующее вещество</th>
                                        <th>Содежание в капс, мг</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Гуараны экстракт</td>
                                        <td>25,0</td>
                                    </tr>
                                    <tr>
                                        <td>Женьшеня экстракт</td>
                                        <td>5,0</td>
                                    </tr>
                                    <tr>
                                        <td>Зеленого чая экстракт</td>
                                        <td>50,0</td>
                                    </tr>
                                    <tr>
                                        <td>Имбиря экстракт</td>
                                        <td>1,0</td>
                                    </tr>
                                    <tr>
                                        <td>Йохимбе экстракт</td>
                                        <td>1,0</td>
                                    </tr>
                                    <tr>
                                        <td>Витамин B1</td>
                                        <td>2,5</td>
                                    </tr>
                                    <tr>
                                        <td>Витамин B3</td>
                                        <td>12,5</td>
                                    </tr>
                                    <tr>
                                        <td>Витамин B6</td>
                                        <td>1,5</td>
                                    </tr>
                                    <tr>
                                        <td>Витамин B12</td>
                                        <td>0,004</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tabs__content-subheading">
                                Тонизирует и наполняет энергией
                            </div>
                        </div>
                        <div class="tabs__content" id="second">
                            <div class="tabs__content-heading">
                                <svg width="190" height="25" viewBox="0 0 190 25" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.48438 4.64453H6.62109C7.1875 4.64453 7.68229 4.66081 8.10547 4.69336C8.52865 4.7194 8.92578 4.78125 9.29688 4.87891C9.64844 4.97656 9.97721 5.11979 10.2832 5.30859C10.5957 5.49089 10.8691 5.72526 11.1035 6.01172C11.3379 6.29167 11.5202 6.62044 11.6504 6.99805C11.7871 7.36914 11.8555 7.78906 11.8555 8.25781C11.8555 8.50521 11.8229 8.77214 11.7578 9.05859C11.6927 9.34505 11.5853 9.62826 11.4355 9.9082C11.2858 10.1816 11.0872 10.4388 10.8398 10.6797C10.599 10.9141 10.2995 11.1061 9.94141 11.2559C10.2344 11.3535 10.5339 11.4902 10.8398 11.666C11.1458 11.8418 11.4225 12.0697 11.6699 12.3496C11.9238 12.623 12.1322 12.9583 12.2949 13.3555C12.4577 13.7461 12.5391 14.2148 12.5391 14.7617C12.5391 15.0742 12.5 15.3997 12.4219 15.7383C12.3503 16.0703 12.2298 16.3926 12.0605 16.7051C11.8978 17.0176 11.6862 17.3138 11.4258 17.5938C11.1654 17.8737 10.8496 18.1178 10.4785 18.3262C10.1074 18.5345 9.67773 18.7005 9.18945 18.8242C8.70768 18.9414 8.15755 19 7.53906 19H1.48438V4.64453ZM7.25586 17.3203C7.88086 17.3203 8.40495 17.2617 8.82812 17.1445C9.25781 17.0208 9.60286 16.8516 9.86328 16.6367C10.1302 16.4154 10.3223 16.1517 10.4395 15.8457C10.5566 15.5397 10.6152 15.1979 10.6152 14.8203C10.6152 14.4427 10.5566 14.1009 10.4395 13.7949C10.3223 13.4889 10.1302 13.2285 9.86328 13.0137C9.60286 12.7923 9.25781 12.623 8.82812 12.5059C8.40495 12.3822 7.88086 12.3203 7.25586 12.3203H3.39844V17.3203H7.25586ZM6.98242 10.7578C7.61393 10.7578 8.12174 10.6992 8.50586 10.582C8.89648 10.4583 9.19596 10.2956 9.4043 10.0938C9.61914 9.88542 9.76237 9.64128 9.83398 9.36133C9.9056 9.08138 9.94141 8.7819 9.94141 8.46289C9.94141 8.12435 9.88932 7.82487 9.78516 7.56445C9.6875 7.29753 9.52148 7.07292 9.28711 6.89062C9.05273 6.70833 8.74674 6.56836 8.36914 6.4707C7.99154 6.37305 7.5293 6.32422 6.98242 6.32422H3.39844V10.7578H6.98242ZM19.1895 4.64453H30.8691V6.32422H25.9863V19H24.0625V6.32422H19.1895V4.64453ZM32.6172 4.64453H43.0957V6.32422H34.5312V10.7578H42.4316V12.4375H34.5312V17.3203H43.2324V19H32.6172V4.64453ZM54.0918 13.082C53.903 13.1797 53.6784 13.2708 53.418 13.3555C53.1641 13.4401 52.8809 13.515 52.5684 13.5801C52.2559 13.6387 51.9238 13.6875 51.5723 13.7266C51.2207 13.7656 50.8594 13.7852 50.4883 13.7852C49.8047 13.7852 49.1569 13.7201 48.5449 13.5898C47.9329 13.4531 47.3926 13.2188 46.9238 12.8867C46.4616 12.5482 46.0938 12.099 45.8203 11.5391C45.5469 10.9727 45.4102 10.2598 45.4102 9.40039V4.64453H47.334V9.19531C47.334 9.78776 47.4121 10.2728 47.5684 10.6504C47.7311 11.028 47.9622 11.3242 48.2617 11.5391C48.5677 11.7539 48.9388 11.9036 49.375 11.9883C49.8112 12.0664 50.3092 12.1055 50.8691 12.1055C51.1816 12.1055 51.4974 12.0859 51.8164 12.0469C52.1419 12.0078 52.4479 11.9557 52.7344 11.8906C53.0273 11.8255 53.291 11.7507 53.5254 11.666C53.7663 11.5814 53.9551 11.4935 54.0918 11.4023V4.64453H56.0156V19H54.0918V13.082ZM58.9844 4.64453H69.4629V6.32422H60.8984V10.7578H68.7988V12.4375H60.8984V17.3203H69.5996V19H58.9844V4.64453ZM72.3242 4.64453H74.2383V10.5625H81.875V4.64453H83.7988V19H81.875V12.2422H74.2383V19H72.3242V4.64453ZM86.7773 4.64453H88.6914V16.2559H88.7305L96.0352 4.64453H98.252V19H96.3281V7.32031H96.2891L88.9941 19H86.7773V4.64453ZM101.23 4.64453H111.709V6.32422H103.145V10.7578H111.045V12.4375H103.145V17.3203H111.846V19H101.23V4.64453ZM146.846 22.0762V17.3203H148.145C148.281 17.0078 148.408 16.6921 148.525 16.373C148.643 16.0475 148.75 15.6829 148.848 15.2793C148.952 14.8691 149.046 14.4004 149.131 13.873C149.222 13.3457 149.307 12.7207 149.385 11.998C149.476 11.2363 149.548 10.4876 149.6 9.75195C149.652 9.00977 149.691 8.31641 149.717 7.67188C149.749 7.02734 149.769 6.44466 149.775 5.92383C149.788 5.40299 149.798 4.97656 149.805 4.64453H158.828V17.3203H160.449V22.0762H158.652V19H148.643V22.0762H146.846ZM151.602 6.32422C151.602 7.25521 151.562 8.18294 151.484 9.10742C151.413 10.0319 151.325 10.9629 151.221 11.9004C151.149 12.6426 151.074 13.2741 150.996 13.7949C150.924 14.3092 150.846 14.7682 150.762 15.1719C150.684 15.569 150.592 15.9368 150.488 16.2754C150.391 16.6074 150.277 16.9557 150.146 17.3203H156.855V6.32422H151.602ZM161.992 4.64453H163.906V10.5625H171.543V4.64453H173.467V19H171.543V12.2422H163.906V19H161.992V4.64453ZM187.764 19H185.84V12.8965H182.266C181.868 12.8965 181.533 12.903 181.26 12.916C180.993 12.9225 180.762 12.9421 180.566 12.9746C180.378 13.0007 180.215 13.0397 180.078 13.0918C179.948 13.1374 179.821 13.1992 179.697 13.2773C179.548 13.375 179.417 13.4857 179.307 13.6094C179.196 13.7266 179.098 13.8763 179.014 14.0586C178.936 14.2409 178.87 14.4655 178.818 14.7324C178.766 14.9993 178.727 15.3281 178.701 15.7188L178.604 17.2812C178.59 17.4701 178.574 17.6426 178.555 17.7988C178.535 17.9486 178.509 18.0885 178.477 18.2188C178.444 18.349 178.405 18.4792 178.359 18.6094C178.32 18.7331 178.268 18.8633 178.203 19H175.996C176.074 18.9154 176.149 18.821 176.221 18.7168C176.292 18.6126 176.357 18.4889 176.416 18.3457C176.475 18.196 176.527 18.0202 176.572 17.8184C176.618 17.6165 176.654 17.3757 176.68 17.0957L176.846 15.1426C176.872 14.8171 176.911 14.5046 176.963 14.2051C177.015 13.9056 177.109 13.6257 177.246 13.3652C177.383 13.1048 177.581 12.8704 177.842 12.6621C178.109 12.4538 178.47 12.2812 178.926 12.1445C178.717 12.0664 178.473 11.9622 178.193 11.832C177.913 11.7018 177.643 11.5098 177.383 11.2559C177.129 11.002 176.911 10.6699 176.729 10.2598C176.553 9.8431 176.465 9.31576 176.465 8.67773C176.465 8.22201 176.517 7.80859 176.621 7.4375C176.725 7.06641 176.862 6.73763 177.031 6.45117C177.201 6.1582 177.393 5.91081 177.607 5.70898C177.829 5.50065 178.053 5.33138 178.281 5.20117C178.522 5.06445 178.799 4.95703 179.111 4.87891C179.43 4.80078 179.753 4.74544 180.078 4.71289C180.404 4.68034 180.716 4.66081 181.016 4.6543C181.322 4.64779 181.589 4.64453 181.816 4.64453H187.764V19ZM185.84 6.34375H181.445C181.276 6.34375 181.104 6.34701 180.928 6.35352C180.752 6.35352 180.576 6.36328 180.4 6.38281C180.225 6.40234 180.055 6.4349 179.893 6.48047C179.73 6.51953 179.58 6.57812 179.443 6.65625C179.248 6.76693 179.082 6.90365 178.945 7.06641C178.809 7.22917 178.695 7.4082 178.604 7.60352C178.519 7.79883 178.457 8.00065 178.418 8.20898C178.379 8.41732 178.359 8.6224 178.359 8.82422C178.359 8.96094 178.369 9.11393 178.389 9.2832C178.408 9.44596 178.451 9.61849 178.516 9.80078C178.581 9.97656 178.672 10.1523 178.789 10.3281C178.906 10.4974 179.062 10.6536 179.258 10.7969C179.427 10.9271 179.596 11.028 179.766 11.0996C179.941 11.1647 180.127 11.2135 180.322 11.2461C180.518 11.2721 180.726 11.2852 180.947 11.2852C181.175 11.2852 181.426 11.2819 181.699 11.2754H185.84V6.34375Z"
                                        fill="white" />
                                    <path
                                        d="M127.958 5.53418C126.693 5.53418 125.456 5.90931 124.405 6.61212C123.353 7.31494 122.533 8.31388 122.049 9.48262C121.565 10.6514 121.438 11.9374 121.685 13.1781C121.932 14.4189 122.541 15.5586 123.435 16.4531C124.33 17.3476 125.47 17.9568 126.71 18.2036C127.951 18.4503 129.237 18.3237 130.406 17.8396C131.575 17.3555 132.574 16.5357 133.276 15.4838C133.979 14.432 134.354 13.1954 134.354 11.9303C134.347 10.2362 133.671 8.61358 132.473 7.41565C131.275 6.21772 129.652 5.5415 127.958 5.53418ZM127.958 16.6579C127.009 16.6799 126.074 16.4169 125.275 15.903C124.476 15.389 123.85 14.6476 123.476 13.7743C123.102 12.9009 122.999 11.9357 123.179 11.003C123.359 10.0703 123.814 9.21289 124.486 8.54121C125.157 7.86953 126.015 7.4144 126.947 7.23448C127.88 7.05455 128.845 7.15808 129.719 7.53171C130.592 7.90534 131.333 8.53196 131.847 9.3308C132.361 10.1296 132.624 11.0641 132.602 12.0137C132.567 13.2344 132.067 14.3954 131.203 15.2589C130.34 16.1224 129.179 16.6229 127.958 16.6579Z"
                                        fill="white" />
                                    <path
                                        d="M134.354 6.5627C134.541 6.46914 134.718 6.35736 134.882 6.22899C135.244 5.92309 135.578 5.56157 135.911 5.22785L136.523 4.58824C136.668 4.43582 136.748 4.23269 136.745 4.02222C136.743 3.81175 136.658 3.61063 136.509 3.4618C136.36 3.31296 136.159 3.22821 135.949 3.22565C135.738 3.22308 135.535 3.3029 135.383 3.44806C135.212 3.58178 135.054 3.73071 134.91 3.89301L133.575 5.25566C133.488 5.38764 133.441 5.54238 133.441 5.70061C133.441 5.85885 133.488 6.01359 133.575 6.14556C133.659 6.42365 133.937 6.53489 134.354 6.5627Z"
                                        fill="white" />
                                    <path
                                        d="M121.48 17.4641C121.303 17.5588 121.135 17.6706 120.979 17.7978C120.451 18.2706 119.95 18.7711 119.45 19.2717L119.339 19.4386C119.217 19.5876 119.15 19.7743 119.15 19.9669C119.15 20.1596 119.217 20.3463 119.339 20.4953C119.482 20.6282 119.671 20.702 119.867 20.702C120.063 20.702 120.251 20.6282 120.395 20.4953C121.035 19.9113 121.619 19.2995 122.203 18.6877C122.295 18.5631 122.345 18.4119 122.345 18.2567C122.345 18.1014 122.295 17.9503 122.203 17.8256C122.259 17.6032 122.008 17.4919 121.48 17.4641Z"
                                        fill="white" />
                                    <path
                                        d="M134.717 17.6589C134.592 17.5663 134.441 17.5164 134.286 17.5164C134.13 17.5164 133.979 17.5663 133.854 17.6589C133.549 17.6589 133.437 18.076 133.41 18.4932C133.382 18.9103 133.41 18.7713 133.604 18.8825C134.197 19.4943 134.781 20.0783 135.356 20.6345C135.426 20.7077 135.51 20.7659 135.604 20.8057C135.697 20.8455 135.797 20.866 135.898 20.866C136 20.866 136.1 20.8455 136.193 20.8057C136.286 20.7659 136.371 20.7077 136.441 20.6345C136.518 20.5641 136.58 20.4783 136.623 20.3825C136.665 20.2867 136.687 20.1831 136.687 20.0783C136.687 19.9735 136.665 19.8699 136.623 19.7741C136.58 19.6783 136.518 19.5925 136.441 19.5221C135.94 18.7991 135.384 18.2151 134.717 17.6589Z"
                                        fill="white" />
                                    <path
                                        d="M121.2 6.36803C121.325 6.46059 121.476 6.51056 121.631 6.51056C121.787 6.51056 121.938 6.46059 122.062 6.36803C122.21 6.28744 122.33 6.16555 122.409 6.01733C122.488 5.86912 122.523 5.70104 122.507 5.53375C122.507 5.53375 122.507 5.22785 122.285 5.0888L120.533 3.33682C120.388 3.19581 120.193 3.11694 119.991 3.11694C119.788 3.11694 119.594 3.19581 119.448 3.33682C119.304 3.49139 119.223 3.69519 119.223 3.90691C119.223 4.11862 119.304 4.32242 119.448 4.477C119.977 5.22785 120.588 5.81184 121.2 6.36803Z"
                                        fill="white" />
                                    <path
                                        d="M127.958 3.94892C128.069 3.94918 128.178 3.92663 128.28 3.88267C128.382 3.83871 128.473 3.77428 128.549 3.6934C128.624 3.61252 128.683 3.51692 128.72 3.41256C128.757 3.3082 128.772 3.19732 128.764 3.08683V0.862088C128.764 0.633448 128.673 0.414173 128.512 0.2525C128.35 0.0908269 128.131 0 127.902 0C127.674 0 127.454 0.0908269 127.293 0.2525C127.131 0.414173 127.04 0.633448 127.04 0.862088C127.04 1.61294 127.04 2.33598 127.04 3.08683C127.031 3.20735 127.048 3.32847 127.092 3.44124C127.135 3.55401 127.204 3.65553 127.292 3.73831C127.38 3.82108 127.486 3.88299 127.601 3.91944C127.716 3.9559 127.838 3.96597 127.958 3.94892Z"
                                        fill="white" />
                                    <path
                                        d="M119.893 12.0412C119.91 11.9203 119.899 11.7973 119.863 11.6809C119.827 11.5644 119.765 11.4573 119.683 11.3672C119.601 11.277 119.5 11.206 119.387 11.1591C119.275 11.1122 119.153 11.0905 119.031 11.0957H116.806C116.593 11.0957 116.387 11.1807 116.236 11.3319C116.085 11.4832 116 11.6883 116 11.9022C116 12.1161 116.085 12.3212 116.236 12.4724C116.387 12.6237 116.593 12.7087 116.806 12.7087H119.031C119.232 12.7255 119.433 12.6663 119.592 12.5427C119.752 12.4191 119.859 12.2402 119.893 12.0412Z"
                                        fill="white" />
                                    <path
                                        d="M139.137 11.0956H136.885C136.773 11.0835 136.661 11.0956 136.554 11.1311C136.448 11.1665 136.351 11.2245 136.269 11.3011C136.187 11.3777 136.122 11.471 136.08 11.5747C136.038 11.6784 136.018 11.7901 136.023 11.9021C136.022 12.0128 136.045 12.1225 136.089 12.2241C136.133 12.3258 136.197 12.4173 136.278 12.4929C136.359 12.5686 136.455 12.6268 136.559 12.6639C136.663 12.701 136.774 12.7162 136.885 12.7086H139.137C139.25 12.7164 139.363 12.7005 139.47 12.6617C139.576 12.623 139.673 12.5623 139.754 12.4836C139.836 12.4049 139.899 12.31 139.942 12.205C139.984 12.1 140.004 11.9873 139.999 11.8743C139.996 11.7659 139.971 11.6593 139.925 11.5609C139.879 11.4625 139.814 11.3743 139.734 11.3017C139.653 11.229 139.559 11.1733 139.457 11.1378C139.354 11.1024 139.245 11.0881 139.137 11.0956Z"
                                        fill="white" />
                                    <path
                                        d="M127.959 20.0781C127.85 20.0781 127.743 20.0998 127.644 20.1421C127.544 20.1843 127.454 20.2462 127.378 20.3241C127.303 20.4019 127.244 20.4942 127.206 20.5952C127.167 20.6963 127.149 20.8042 127.152 20.9124C127.152 21.6633 127.152 22.4419 127.152 23.1928C127.145 23.3033 127.16 23.4141 127.197 23.5185C127.234 23.6229 127.292 23.7184 127.368 23.7993C127.444 23.8802 127.535 23.9446 127.637 23.9886C127.738 24.0326 127.848 24.0551 127.959 24.0549C128.068 24.0513 128.176 24.0261 128.276 23.9808C128.376 23.9355 128.466 23.871 128.541 23.791C128.616 23.7109 128.674 23.6169 128.713 23.5142C128.751 23.4116 128.769 23.3023 128.765 23.1928V20.9124C128.769 20.8042 128.751 20.6963 128.712 20.5952C128.673 20.4942 128.614 20.4019 128.539 20.3241C128.464 20.2462 128.374 20.1843 128.274 20.1421C128.174 20.0998 128.067 20.0781 127.959 20.0781Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <table class="tabs__table table table--light">
                                <thead>
                                    <tr>
                                        <th>Действующее вещество</th>
                                        <th>Содежание в капс, мг</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Кальция цитрат</td>
                                        <td>25,0</td>
                                    </tr>
                                    <tr>
                                        <td>Кальция цитрат</td>
                                        <td>5,0</td>
                                    </tr>
                                    <tr>
                                        <td>Магния цитрат</td>
                                        <td>50,0</td>
                                    </tr>
                                    <tr>
                                        <td>Цинка цитрат</td>
                                        <td>1,0</td>
                                    </tr>
                                    <tr>
                                        <td>Марганца глюконат</td>
                                        <td>1,0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tabs__content-subheading">
                                Способствует быстрому восстановлению
                            </div>
                        </div>
                        <div class="tabs__content" id="third">
                            <div class="tabs__content-heading">
                                <svg width="158" height="23" viewBox="0 0 158 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.48438 3.64453H12.959V18H11.0352V5.32422H3.39844V18H1.48438V3.64453ZM15.9375 3.64453H26.416V5.32422H17.8516V9.75781H25.752V11.4375H17.8516V16.3203H26.5527V18H15.9375V3.64453ZM35.1172 10.3633C36.1328 10.3633 36.8652 10.1484 37.3145 9.71875C37.7637 9.28906 37.9883 8.66406 37.9883 7.84375C37.9883 7.02344 37.7637 6.39844 37.3145 5.96875C36.8652 5.53906 36.1328 5.32422 35.1172 5.32422H31.1914V10.3633H35.1172ZM29.2773 3.64453H35.3125C36.1003 3.64453 36.7806 3.74544 37.3535 3.94727C37.9329 4.14909 38.4115 4.43555 38.7891 4.80664C39.1667 5.17122 39.4466 5.61068 39.6289 6.125C39.8177 6.63932 39.9121 7.21224 39.9121 7.84375C39.9121 8.47526 39.8177 9.04818 39.6289 9.5625C39.4466 10.0768 39.1667 10.5195 38.7891 10.8906C38.4115 11.2552 37.9329 11.5384 37.3535 11.7402C36.7806 11.9421 36.1003 12.043 35.3125 12.043H31.1914V18H29.2773V3.64453ZM42.6172 3.64453H53.0957V5.32422H44.5312V9.75781H52.4316V11.4375H44.5312V16.3203H53.2324V18H42.6172V3.64453ZM54.834 21.0762V16.3203H56.1328C56.2695 16.0078 56.3965 15.6921 56.5137 15.373C56.6309 15.0475 56.7383 14.6829 56.8359 14.2793C56.9401 13.8691 57.0345 13.4004 57.1191 12.873C57.2103 12.3457 57.2949 11.7207 57.373 10.998C57.4642 10.2363 57.5358 9.48763 57.5879 8.75195C57.64 8.00977 57.679 7.31641 57.7051 6.67188C57.7376 6.02734 57.7572 5.44466 57.7637 4.92383C57.7767 4.40299 57.7865 3.97656 57.793 3.64453H66.8164V16.3203H68.4375V21.0762H66.6406V18H56.6309V21.0762H54.834ZM59.5898 5.32422C59.5898 6.25521 59.5508 7.18294 59.4727 8.10742C59.401 9.0319 59.3132 9.96289 59.209 10.9004C59.1374 11.6426 59.0625 12.2741 58.9844 12.7949C58.9128 13.3092 58.8346 13.7682 58.75 14.1719C58.6719 14.569 58.5807 14.9368 58.4766 15.2754C58.3789 15.6074 58.265 15.9557 58.1348 16.3203H64.8438V5.32422H59.5898ZM99.0234 10.8027C99.0234 11.7012 99.1374 12.515 99.3652 13.2441C99.5931 13.9668 99.9121 14.582 100.322 15.0898C100.739 15.5977 101.237 15.9915 101.816 16.2715C102.402 16.5449 103.047 16.6816 103.75 16.6816C104.362 16.6816 104.909 16.571 105.391 16.3496C105.879 16.1283 106.299 15.8385 106.65 15.4805C107.002 15.1159 107.285 14.7057 107.5 14.25C107.715 13.7943 107.858 13.332 107.93 12.8633H109.785C109.746 13.2799 109.655 13.7064 109.512 14.1426C109.375 14.5723 109.186 14.9922 108.945 15.4023C108.711 15.806 108.428 16.1901 108.096 16.5547C107.764 16.9128 107.38 17.2253 106.943 17.4922C106.514 17.7591 106.032 17.9707 105.498 18.127C104.964 18.2832 104.382 18.3613 103.75 18.3613C103.314 18.3613 102.845 18.3158 102.344 18.2246C101.849 18.1335 101.354 17.9805 100.859 17.7656C100.371 17.5508 99.8991 17.2643 99.4434 16.9062C98.9941 16.5417 98.597 16.0859 98.252 15.5391C97.9069 14.9922 97.6302 14.3477 97.4219 13.6055C97.2135 12.8568 97.1094 11.9876 97.1094 10.998C97.1094 10.028 97.2005 9.16211 97.3828 8.40039C97.5716 7.63867 97.8255 6.97461 98.1445 6.4082C98.4701 5.83529 98.8477 5.35026 99.2773 4.95312C99.7135 4.55599 100.179 4.23372 100.674 3.98633C101.169 3.73893 101.683 3.5599 102.217 3.44922C102.751 3.33854 103.281 3.2832 103.809 3.2832C104.46 3.2832 105.052 3.35156 105.586 3.48828C106.126 3.61849 106.608 3.80078 107.031 4.03516C107.461 4.26302 107.835 4.52995 108.154 4.83594C108.473 5.14193 108.74 5.46745 108.955 5.8125C109.176 6.15104 109.346 6.49935 109.463 6.85742C109.587 7.21549 109.661 7.5638 109.688 7.90234H107.812C107.689 7.4401 107.507 7.02669 107.266 6.66211C107.025 6.29753 106.732 5.99154 106.387 5.74414C106.048 5.49023 105.664 5.29818 105.234 5.16797C104.811 5.03125 104.355 4.96289 103.867 4.96289C103.132 4.96289 102.464 5.09961 101.865 5.37305C101.273 5.64648 100.765 6.03711 100.342 6.54492C99.9186 7.05273 99.5931 7.66797 99.3652 8.39062C99.1374 9.10677 99.0234 9.91081 99.0234 10.8027ZM112.266 3.64453H114.18V9.5625H121.816V3.64453H123.74V18H121.816V11.2422H114.18V18H112.266V3.64453ZM140.01 10.8223C140.01 11.4408 139.948 12.0592 139.824 12.6777C139.701 13.2897 139.512 13.8757 139.258 14.4355C139.004 14.9889 138.685 15.5065 138.301 15.9883C137.923 16.4635 137.474 16.8802 136.953 17.2383C136.432 17.5898 135.843 17.8633 135.186 18.0586C134.535 18.2604 133.812 18.3613 133.018 18.3613C132.223 18.3613 131.497 18.2604 130.84 18.0586C130.182 17.8633 129.593 17.5898 129.072 17.2383C128.558 16.8802 128.109 16.4635 127.725 15.9883C127.34 15.5065 127.021 14.9889 126.768 14.4355C126.514 13.8757 126.325 13.2897 126.201 12.6777C126.077 12.0592 126.016 11.4408 126.016 10.8223C126.016 9.70898 126.172 8.6901 126.484 7.76562C126.803 6.84115 127.262 6.04688 127.861 5.38281C128.46 4.71875 129.193 4.20443 130.059 3.83984C130.924 3.46875 131.911 3.2832 133.018 3.2832C134.118 3.2832 135.101 3.46875 135.967 3.83984C136.839 4.20443 137.572 4.71875 138.164 5.38281C138.763 6.04688 139.219 6.84115 139.531 7.76562C139.85 8.6901 140.01 9.70898 140.01 10.8223ZM138.096 10.8223C138.096 9.9694 137.982 9.1849 137.754 8.46875C137.526 7.74609 137.194 7.1276 136.758 6.61328C136.328 6.09245 135.798 5.6888 135.166 5.40234C134.535 5.10938 133.818 4.96289 133.018 4.96289C132.21 4.96289 131.491 5.10938 130.859 5.40234C130.228 5.6888 129.694 6.09245 129.258 6.61328C128.828 7.1276 128.499 7.74609 128.271 8.46875C128.044 9.1849 127.93 9.9694 127.93 10.8223C127.93 11.6947 128.034 12.4922 128.242 13.2148C128.451 13.931 128.766 14.5462 129.189 15.0605C129.613 15.5749 130.14 15.9753 130.771 16.2617C131.41 16.5417 132.158 16.6816 133.018 16.6816C133.87 16.6816 134.616 16.5417 135.254 16.2617C135.892 15.9753 136.419 15.5749 136.836 15.0605C137.259 14.5462 137.575 13.931 137.783 13.2148C137.992 12.4922 138.096 11.6947 138.096 10.8223ZM142.285 3.64453H145.039L149.102 15.7246H149.141L153.203 3.64453H155.957V18H154.16V5.91992H154.121L150.078 18H148.164L144.121 5.91992H144.082V18H142.285V3.64453Z"
                                        fill="white" />
                                    <path
                                        d="M91.3679 9.8876C91.3359 9.73909 91.2571 9.60478 91.143 9.50441C91.029 9.40405 90.8857 9.34294 90.7344 9.33008C90.5893 9.31988 90.4448 9.35614 90.3218 9.4336C90.1988 9.51107 90.1036 9.6257 90.0501 9.76089V10.0143C89.8446 10.7731 89.4365 11.4617 88.8695 12.0063C88.3026 12.551 87.5982 12.9311 86.8317 13.106C85.9994 13.3556 85.1124 13.3567 84.2795 13.1091C83.4466 12.8615 82.7042 12.376 82.1435 11.7122C81.7447 11.2356 81.4525 10.6792 81.2865 10.0805C81.1204 9.48166 81.0842 8.85428 81.1805 8.24037C81.2679 7.50551 81.542 6.80528 81.9767 6.2064C82.4115 5.60752 82.9923 5.12996 83.664 4.81921L84.3482 4.56579L84.6777 4.48977C84.8591 4.41053 85.0039 4.26571 85.0831 4.0843C85.148 3.92158 85.148 3.74018 85.0831 3.57746C85.0377 3.44307 84.9531 3.32537 84.8402 3.23954C84.7273 3.15371 84.5912 3.1037 84.4496 3.09596C83.6097 2.96801 82.7553 2.96801 81.9154 3.09596C80.7758 3.23027 79.6764 3.59908 78.6863 4.17915C77.6963 4.75922 76.8371 5.538 76.1628 6.46644C74.8457 8.20278 74.2633 10.3869 74.5409 12.5485C74.7896 14.4317 75.6855 16.1697 77.0751 17.4648C77.876 18.2829 78.8349 18.9294 79.8936 19.365C80.9522 19.8007 82.0885 20.0164 83.2332 19.999H83.4106H84.1201C86.0046 19.7545 87.744 18.8579 89.0365 17.4648C89.8857 16.6502 90.5512 15.6636 90.9882 14.571C91.4253 13.4783 91.6238 12.3049 91.5707 11.1294C91.5675 10.7543 91.525 10.3805 91.4439 10.0143L91.3679 9.8876ZM81.4592 13.106C82.2667 13.9129 83.2857 14.4751 84.3989 14.7279C85.5363 14.9596 86.7166 14.8539 87.7947 14.4238C88.6423 14.1036 89.399 13.5817 89.9995 12.9033C89.7723 13.9527 89.3099 14.9369 88.6472 15.7817C87.9844 16.6265 87.1386 17.3098 86.1734 17.7803C85.2083 18.2507 84.1489 18.496 83.0752 18.4977C82.0015 18.4993 80.9414 18.2572 79.9748 17.7897C79.0082 17.3222 78.1603 16.6414 77.495 15.7987C76.8296 14.9559 76.3643 13.9731 76.1339 12.9244C75.9035 11.8757 75.9141 10.7884 76.165 9.74436C76.4158 8.70034 76.9003 7.72685 77.5819 6.89725C78.6326 5.65886 80.07 4.81072 81.662 4.48977C80.5548 5.4802 79.8738 6.86051 79.7613 8.34174C79.672 9.21217 79.778 10.0916 80.0718 10.9158C80.3655 11.74 80.8395 12.4883 81.4592 13.106Z"
                                        fill="white" />
                                </svg>
                            </div>
                            <table class="tabs__table table table--light">
                                <thead>
                                    <tr>
                                        <th>Действующее вещество</th>
                                        <th>Содежание в капс, мг</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Гриффонии экстрат</td>
                                        <td>100,0</td>
                                    </tr>
                                    <tr>
                                        <td>Куркумы экстрат</td>
                                        <td>30,0</td>
                                    </tr>
                                    <tr>
                                        <td>Черного перца экстрат</td>
                                        <td>3,0</td>
                                    </tr>
                                    <tr>
                                        <td>Померанца экстрат</td>
                                        <td>1,0</td>
                                    </tr>
                                    <tr>
                                        <td>L - глутамин</td>
                                        <td>100,0</td>
                                    </tr>
                                    <tr>
                                        <td>L - тирозин</td>
                                        <td>100,5</td>
                                    </tr>
                                    <tr>
                                        <td>Витамин B6</td>
                                        <td>1,50</td>
                                    </tr>
                                    <tr>
                                        <td>Магния цитрат</td>
                                        <td>100,0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tabs__content-subheading">
                                Стабилизует эмоциональное состояние
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="yandexLavkaModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal__dialog modal__dialog--full modal-dialog" role="document">
        <div class="modal__content">
            <div class="modal__body">
                <button class="modal__close" data-bs-dismiss="modal" aria-label="Закрыть">
                    <svg width="32" height="34" viewBox="0 0 32 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.883883" y1="0.891019" x2="31.1089" y2="31.116" stroke="white" stroke-width="2.5" />
                        <line x1="31.109" y1="2.88388" x2="0.883984" y2="33.1089" stroke="white" stroke-width="2.5" />
                    </svg>
                </button>
                <div class="modal__heading">
                    Как заказать ELXR в Яндекс.Лавке?
                </div>

                <ul class="modal__list">
                    <li class="modal__list-item">
                        <span>1. Зайдите в Яндекс.Лавку</span>
                        <picture>
                            <source srcset='<%=require(`@assets/img/icons/yandex.jpg`)%>.webp' type='image/webp'>
                            <img src='<%=require(`@assets/img/icons/yandex.jpg`)%>' alt='Яндекс.Лавка'>
                        </picture>
                    </li>
                    <li class="modal__list-item">
                        <span>2.</span>
                        <svg width="359" height="46" viewBox="0 0 359 46" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="358" height="45" rx="22.5" stroke="white" />
                            <path
                                d="M37.0723 22.085H31.5264V26.6201H37.9688V28H29.8389V15.2031H37.8809V16.5918H31.5264V20.7051H37.0723V22.085ZM41.7656 26.6201H47.8301V28H40.0693V15.2031H41.7656V26.6201ZM53.9297 20.1074L56.9971 15.2031H58.9834L54.9404 21.5488L59.0801 28H57.0762L53.9297 23.0078L50.7656 28H48.7705L52.9189 21.5488L48.8672 15.2031H50.8447L53.9297 20.1074ZM65.7334 22.8232H62.7275V28H61.0312V15.2031H65.2676C66.709 15.2031 67.8164 15.5312 68.5898 16.1875C69.3691 16.8438 69.7588 17.7988 69.7588 19.0527C69.7588 19.8496 69.542 20.5439 69.1084 21.1357C68.6807 21.7275 68.083 22.1699 67.3154 22.4629L70.3213 27.8945V28H68.5107L65.7334 22.8232ZM62.7275 21.4434H65.3203C66.1582 21.4434 66.8232 21.2266 67.3154 20.793C67.8135 20.3594 68.0625 19.7793 68.0625 19.0527C68.0625 18.2617 67.8252 17.6553 67.3506 17.2334C66.8818 16.8115 66.2021 16.5977 65.3115 16.5918H62.7275V21.4434Z"
                                fill="white" />
                            <g clip-path="url(#clip0)">
                                <path
                                    d="M335.832 25.8716C331.934 29.0312 326.71 28.1519 323.931 24.7796C322.607 23.1718 321.926 21.1295 322.02 19.0483C322.115 16.9671 322.98 14.9952 324.445 13.5148C325.911 12.0344 327.874 11.1507 329.955 11.0352C332.035 10.9196 334.084 11.5803 335.704 12.8893C337.504 14.3576 338.56 16.2639 338.789 18.5833C339.018 20.9027 338.362 22.964 336.897 24.7937C336.956 24.8547 337.008 24.911 337.061 24.965C338.603 26.5071 340.145 28.0484 341.687 29.5889C341.929 29.8306 342.068 30.0974 341.964 30.4494C341.93 30.5685 341.867 30.6776 341.781 30.7672C341.696 30.8569 341.59 30.9244 341.472 30.9642C341.355 31.0039 341.229 31.0146 341.107 30.9954C340.984 30.9762 340.868 30.9276 340.769 30.8538C340.692 30.7938 340.619 30.7282 340.552 30.6575C339.023 29.1305 337.495 27.6028 335.968 26.0742C335.916 26.0111 335.871 25.9433 335.832 25.8716ZM337.276 19.4289C337.285 15.6592 334.213 12.5795 330.43 12.5646C326.662 12.5498 323.583 15.6154 323.564 19.4039C323.542 23.172 326.636 26.2745 330.42 26.2784C334.188 26.2823 337.267 23.2072 337.276 19.4289Z"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="20" height="20" fill="white" transform="translate(322 11)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</body>

</html>